{
  "openapi": "3.0.0",
  "info": {
    "title": "Core Services API Reference",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://anypoint.mulesoft.com/accounts/api"
    }
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/admin": {},
    "/admin/connectedApplications": {
      "description": "Admin routes for interacting with Connected Applications owned by any organization"
    },
    "/admin/connectedApplications/search": {
      "description": "Search endpoint across all Connected Applications",
      "post": {
        "x-amf-is": [
          "offset-paginated",
          {
            "pagination-collection": {
              "example": "{\n  \"data\": [\n    {\n      \"client_id\": \"0fa2aa2f0aeb4978b96796a0843f898c\",\n      \"owner_org_id\": \"0eb65884-4f75-48f7-a8bc-4e30b46e721d\",\n      \"client_name\": \"Client Credz\",\n      \"client_secret\": \"********\",\n      \"public_keys\": [],\n      \"redirect_uris\": [\n        \"https://why.net\"\n      ],\n      \"grant_types\": [\n        \"client_credentials\"\n      ],\n      \"scopes\": [],\n      \"enabled\": true,\n      \"audience\": \"internal\",\n      \"client_uri\": null,\n      \"policy_uri\": null,\n      \"tos_uri\": null\n    },\n    {\n      \"client_id\": \"e8c28f0249a6417bb892ff8d6013d628\",\n      \"owner_org_id\": \"0eb65884-4f75-48f7-a8bc-4e30b46e721d\",\n      \"client_name\": \"OpenID Integration\",\n      \"client_secret\": \"********\",\n      \"public_keys\": [],\n      \"redirect_uris\": [\n        \"https://example.com\"\n      ],\n      \"grant_types\": [\n        \"implicit\",\n        \"authorization_code\",\n        \"refresh_token\"\n      ],\n      \"scopes\": [\n        \"full\",\n        \"read:full\",\n        \"openid\",\n        \"profile\",\n        \"email\",\n        \"offline_access\"\n      ],\n      \"enabled\": true,\n      \"audience\": \"internal\",\n      \"client_uri\": null,\n      \"policy_uri\": null,\n      \"tos_uri\": null\n    }\n  ],\n  \"total\": 2\n}\n",
              "type": "connectedApplications.ConnectedApplication"
            }
          },
          "rate-limited"
        ],
        "parameters": [
          {
            "name": "includeUsage",
            "description": "flag to indicate whether to return usage statistics",
            "required": true,
            "in": "query",
            "schema": {
              "description": "flag to indicate whether to return usage statistics",
              "default": false,
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "example": {
                  "client_id": [
                    "65c3fd77-6e2e-49b1-8cb9-cdbe0a22ec58",
                    "6fbf174a-69ed-425d-83a1-c0f1ab9a981c"
                  ]
                },
                "type": "object",
                "x-amf-merge": [
                  {
                    "$ref": "#/components/schemas/ConnectedApplicationAdminSearch"
                  }
                ]
              }
            }
          }
        },
        "responses": {}
      }
    },
    "/admin/keys": {},
    "/admin/keys/{usage}": {
      "parameters": [
        {
          "name": "usage",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "description": "Retrieves admin information about the JWKS",
        "x-amf-is": [
          "offset-paginated",
          {
            "pagination-collection": {
              "example": "{\n  \"data\": [\n    {\n      \"kid\": \"5effa76ef33ecb5e346bd512d7d89b30e47d8e98\",\n      \"created_at\": \"2018-11-08T01:40:51.355Z\",\n      \"retired_at\": \"2020-10-08T16:57:00.300Z\",\n      \"active\": false\n    },\n    {\n      \"kid\": \"234567890b5e346bd512d7d89b30e47d8e98\",\n      \"created_at\": \"2018-11-08T01:40:51.355Z\",\n      \"retired_at\": null,\n      \"active\": true\n    }\n  ],\n  \"total\": 30\n}\n",
              "type": "object"
            }
          }
        ],
        "parameters": [
          {
            "name": "retired",
            "description": "If true, return only retired keys. If false, return only active keys. Otherwise, return both.",
            "in": "query",
            "schema": {
              "description": "If true, return only retired keys. If false, return only active keys. Otherwise, return both.",
              "type": "boolean"
            }
          }
        ],
        "responses": {}
      }
    },
    "/admin/keys/{usage}/rotate": {
      "parameters": [
        {
          "name": "usage",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "description": "Triggers a key rotation event",
        "responses": {
          "204": {
            "description": "Success"
          }
        }
      }
    },
    "/authorize": {},
    "/authorize/context": {
      "post": {
        "description": "Get the set of contexts in which the caller can perform an action on resources that match a template",
        "x-amf-is": [
          {
            "pagination-collection": {
              "example": "{\n  \"data\": [\n    {\n      \"namespace\": \"cloudhub\",\n      \"resource\": \"/organizations/614b40bf-6eb6-49ac-82f4-d8332b6f4d1b/environments/a4685c7a-08fe-45d7-9e29-87b84223d251/applications\",\n      \"resourceTemplate\": \"/organizations/{{org}}/environments/{{envId}}/applications\",\n      \"resourceTemplateParams\": {\"org\": \"614b40bf-6eb6-49ac-82f4-d8332b6f4d1b\", \"envId\": \"a4685c7a-08fe-45d7-9e29-87b84223d251\" },\n      \"actions\": [\"GET\"]\n    },\n    {\n      \"namespace\": \"cloudhub\",\n      \"resource\": \"/organizations/614b40bf-6eb6-49ac-82f4-d8332b6f4d1b/environments/05e35d44-405a-4693-81ce-4e78e9a72891/applications\",\n      \"resourceTemplate\": \"/organizations/{{org}}/environments/{{envId}}/applications\",\n      \"resourceTemplateParams\": {\"org\": \"614b40bf-6eb6-49ac-82f4-d8332b6f4d1b\", \"envId\": \"05e35d44-405a-4693-81ce-4e78e9a72891\" },\n      \"actions\": [\"GET\"]\n    },\n    {\n      \"namespace\": \"cloudhub\",\n      \"resource\": \"/organizations/d71ef2da-40cf-415b-80fd-eab0a7130bc8/environments/*/applications\",\n      \"resourceTemplate\": \"/organizations/{{org}}/environments/{{envId}}/applications\",\n      \"resourceTemplateParams\": {\"org\": \"d71ef2da-40cf-415b-80fd-eab0a7130bc8\", \"envId\": \"*\" },\n      \"actions\": [\"GET\"]\n    }\n  ],\n  \"total\": 3\n}\n",
              "type": "authorize.AuthorizeContextResult"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "example": {
                  "namespace": "cloudhub",
                  "actions": [
                    "GET"
                  ],
                  "resourceTemplates": [
                    "/organizations/{{org}}/environments/{{envId}}/applications"
                  ],
                  "offset": 0,
                  "limit": 50
                },
                "type": "object",
                "x-amf-merge": [
                  {
                    "$ref": "#/components/schemas/AuthorizeContext"
                  }
                ]
              }
            }
          }
        },
        "responses": {}
      }
    },
    "/connectedApplications": {
      "description": "Access to connected applications",
      "get": {
        "description": "Get all connected applications for the organization",
        "x-amf-is": [
          "offset-paginated",
          {
            "searchable": {
              "targetDesc": "all object properties"
            }
          },
          {
            "sortable_2": {
              "field_1": "client_id",
              "field_2": "client_name",
              "default": "client_name"
            }
          },
          "rate-limited"
        ],
        "parameters": [
          {
            "name": "includeUsage",
            "description": "flag to indicate whether to return usage statistics",
            "required": true,
            "in": "query",
            "schema": {
              "description": "flag to indicate whether to return usage statistics",
              "default": false,
              "type": "boolean"
            }
          },
          {
            "name": "orgId",
            "description": "Provide an orgId to get all clients from other organization",
            "in": "query",
            "schema": {
              "description": "Provide an orgId to get all clients from other organization",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "data": [
                      {
                        "client_id": "0fa2aa2f0aeb4978b96796a0843f898c",
                        "owner_org_id": "0eb65884-4f75-48f7-a8bc-4e30b46e721d",
                        "client_name": "Client Credz",
                        "client_secret": "B0313ad5a6B44f7ebb4Bf482C49327e1",
                        "public_keys": [],
                        "redirect_uris": [
                          "https://why.net"
                        ],
                        "grant_types": [
                          "client_credentials"
                        ],
                        "scopes": [],
                        "enabled": true,
                        "audience": "internal",
                        "client_uri": null,
                        "policy_uri": null,
                        "tos_uri": null
                      },
                      {
                        "client_id": "e8c28f0249a6417bb892ff8d6013d628",
                        "owner_org_id": "0eb65884-4f75-48f7-a8bc-4e30b46e721d",
                        "client_name": "OpenID Integration",
                        "client_secret": "eA0Fa9BaAe454F32A6Ae8ABBc1b730C0",
                        "public_keys": [],
                        "redirect_uris": [
                          "https://example.com"
                        ],
                        "grant_types": [
                          "implicit",
                          "authorization_code",
                          "refresh_token"
                        ],
                        "scopes": [
                          "full",
                          "read:full",
                          "openid",
                          "profile",
                          "email",
                          "offline_access"
                        ],
                        "enabled": true,
                        "audience": "internal",
                        "client_uri": null,
                        "policy_uri": null,
                        "tos_uri": null
                      }
                    ],
                    "total": 2
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "description": "Create a new connected application",
        "x-amf-is": [
          "rate-limited"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "example": {
                  "client_id": "0fa2aa2f0aeb4978b96796a0843f898c",
                  "owner_org_id": "0eb65884-4f75-48f7-a8bc-4e30b46e721d",
                  "client_name": "SampleClient",
                  "client_secret": "B0313ad5a6B44f7ebb4Bf482C49327e1",
                  "public_keys": [],
                  "redirect_uris": [
                    "https://why.net"
                  ],
                  "grant_types": [
                    "client_credentials"
                  ],
                  "scopes": [],
                  "enabled": true,
                  "audience": "internal"
                },
                "type": "object",
                "additionalProperties": false,
                "x-amf-merge": [
                  {
                    "$ref": "#/components/schemas/ConnectedApplicationCreate"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "client_id": "0fa2aa2f0aeb4978b96796a0843f898c",
                    "owner_org_id": "0eb65884-4f75-48f7-a8bc-4e30b46e721d",
                    "client_name": "SampleClient",
                    "client_secret": "B0313ad5a6B44f7ebb4Bf482C49327e1",
                    "public_keys": [],
                    "redirect_uris": [
                      "https://why.net"
                    ],
                    "grant_types": [
                      "client_credentials"
                    ],
                    "scopes": [],
                    "enabled": true,
                    "audience": "internal"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/connectedApplications/{clientId}": {
      "description": "Access to individual connected application",
      "parameters": [
        {
          "name": "clientId",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "description": "Get a single connected application",
        "x-amf-is": [
          "rate-limited"
        ],
        "parameters": [
          {
            "name": "includeUsage",
            "description": "flag to indicate whether to return usage statistics",
            "required": true,
            "in": "query",
            "schema": {
              "description": "flag to indicate whether to return usage statistics",
              "default": false,
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "client_id": "0fa2aa2f0aeb4978b96796a0843f898c",
                    "owner_org_id": "0eb65884-4f75-48f7-a8bc-4e30b46e721d",
                    "client_name": "SampleClient",
                    "client_secret": "B0313ad5a6B44f7ebb4Bf482C49327e1",
                    "public_keys": [],
                    "redirect_uris": [
                      "https://why.net"
                    ],
                    "grant_types": [
                      "client_credentials"
                    ],
                    "scopes": [],
                    "enabled": true,
                    "audience": "internal"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Connected application with that clientId could not be found"
          }
        }
      },
      "patch": {
        "description": "Patches a single connected application",
        "x-amf-is": [
          "rate-limited"
        ],
        "parameters": [
          {
            "name": "resetSecret",
            "description": "Asks service to reset secret as part of this operation",
            "in": "query",
            "schema": {
              "description": "Asks service to reset secret as part of this operation",
              "default": false,
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "example": {
                  "client_name": "SampleClient",
                  "redirect_uris": [
                    "https://localhost:3000/callback",
                    "https://example.com/auth-callback"
                  ],
                  "grant_types": [
                    "implicit",
                    "authorization_code"
                  ]
                },
                "type": "object",
                "additionalProperties": false,
                "x-amf-merge": [
                  {
                    "$ref": "#/components/schemas/ConnectedApplicationUpdate"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Connected application was successfully updated",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "client_id": "0fa2aa2f0aeb4978b96796a0843f898c",
                    "owner_org_id": "0eb65884-4f75-48f7-a8bc-4e30b46e721d",
                    "client_name": "SampleClient",
                    "client_secret": "B0313ad5a6B44f7ebb4Bf482C49327e1",
                    "public_keys": [],
                    "redirect_uris": [
                      "https://why.net"
                    ],
                    "grant_types": [
                      "client_credentials"
                    ],
                    "scopes": [],
                    "enabled": true,
                    "audience": "internal"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Connected application with that clientId could not be found"
          }
        }
      },
      "delete": {
        "description": "Deletes a single connected application",
        "x-amf-is": [
          "rate-limited"
        ],
        "responses": {
          "204": {
            "description": "Connected application was deleted"
          }
        }
      }
    },
    "/connectedApplications/{clientId}/scopes": {
      "description": "Routes for operationg upon context-aware scopes assigned directly to the client's identity,\nonly for use with the client_credentials grant type. Orthogonal to the set of scopes associated\nwith user authorizations.\n",
      "parameters": [
        {
          "name": "clientId",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "description": "Retrieves context-aware scopes assigned to the connected application\n",
        "x-amf-is": [
          "offset-paginated",
          "rate-limited"
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "data": [
                      {
                        "scope": "api:admin",
                        "context_params": {
                          "org": "8b0b657c-91ca-420d-870a-08699094f5e4",
                          "envId": "7cc0463b-f7be-418d-8a64-84fbad13ab00"
                        }
                      }
                    ],
                    "total": 1
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "description": "Replaces the entire list of context-aware scopes assigned to the connected application\n",
        "x-amf-is": [
          "rate-limited"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "example": {
                  "scopes": [
                    {
                      "scope": "api:admin",
                      "context_params": {
                        "org": "8b0b657c-91ca-420d-870a-08699094f5e4",
                        "envId": "7cc0463b-f7be-418d-8a64-84fbad13ab00"
                      }
                    }
                  ]
                },
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "scopes"
                ],
                "properties": {
                  "scopes": {
                    "type": "array",
                    "minItems": 1,
                    "items": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "scope",
                        "context_params"
                      ],
                      "properties": {
                        "scope": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 255
                        },
                        "context_params": {
                          "type": "object",
                          "maxProperties": 2
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Connected application scopes were successfully replaced"
          }
        }
      },
      "patch": {
        "description": "Assigns additional context-aware scopes to the connected application.\nDoes not unassign any existing scopes.\nDuplicate entries are ignored.\n",
        "x-amf-is": [
          "rate-limited"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "example": {
                  "scopes": [
                    {
                      "scope": "api:admin",
                      "context_params": {
                        "org": "8b0b657c-91ca-420d-870a-08699094f5e4",
                        "envId": "7cc0463b-f7be-418d-8a64-84fbad13ab00"
                      }
                    }
                  ]
                },
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "scopes"
                ],
                "properties": {
                  "scopes": {
                    "type": "array",
                    "minItems": 1,
                    "items": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "scope",
                        "context_params"
                      ],
                      "properties": {
                        "scope": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 255
                        },
                        "context_params": {
                          "type": "object",
                          "maxProperties": 2
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Connected application scopes were successfully assigned"
          }
        }
      },
      "delete": {
        "description": "Unassigns context-aware scopes from the connected application.\nScopes must exactly match in order to be removed.\n",
        "x-amf-is": [
          "rate-limited"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "example": {
                  "scopes": [
                    {
                      "scope": "api:admin",
                      "context_params": {
                        "org": "8b0b657c-91ca-420d-870a-08699094f5e4",
                        "envId": "7cc0463b-f7be-418d-8a64-84fbad13ab00"
                      }
                    }
                  ]
                },
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "scopes"
                ],
                "properties": {
                  "scopes": {
                    "type": "array",
                    "minItems": 1,
                    "items": {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "scope",
                        "context_params"
                      ],
                      "properties": {
                        "scope": {
                          "type": "string",
                          "minLength": 1,
                          "maxLength": 255
                        },
                        "context_params": {
                          "type": "object",
                          "maxProperties": 2
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Connected application scopes were successfully unassigned"
          }
        }
      }
    },
    "/connectedApplications/{clientId}/revoke": {
      "parameters": [
        {
          "name": "clientId",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        }
      ],
      "delete": {
        "description": "Revoke all access tokens and refresh tokens issued to the connected application",
        "x-amf-is": [
          "rate-limited"
        ],
        "responses": {
          "204": {
            "description": "All tokens were revoked successfully"
          }
        }
      }
    },
    "/invites": {
      "description": "Invite people to join the organization",
      "get": {
        "description": "get outstanding or expired invites that match the criteria",
        "x-amf-is": [
          "offset-paginated",
          {
            "pagination-collection": {
              "type": "invites.Invite",
              "example": "{\n  \"data\": [\n    {\n      \"id\": 520,\n      \"code\": \"f2e8dfab-6699-4889-831f-6dc6f8428cb0\",\n      \"invited_at\": \"2015-01-30T22:23:55.433Z\",\n      \"invited_email\": \"christopher.mordue@mulesoft.com\",\n      \"invited_by_user\": {\n        \"id\": \"57e281b5-ec5b-4701-80a0-92a936a68da3\",\n        \"username\": \"organization_owner\",\n        \"first_name\": \"Organization2\",\n        \"last_name\": \"Owner\"\n      },\n      \"invited_to_org\": {\n        \"id\": \"f0c9b011-980e-4928-9430-e60e3a97c043\",\n        \"name\": \"MuleSoft Inc\"\n      },\n      \"expires_at\": \"2015-04-10T22:23:55.433Z\",\n      \"status\": \"INVITED\",\n      \"completed_at\": null,\n      \"completed_by_user\": null,\n      \"role_groups\": [\n        {\n          \"name\": \"Organization Administrators\",\n          \"role_group_id\": \"0b19f6df-ed81-4fd1-b5e7-4921f5e46f4c\"\n        }\n      ]\n    }\n  ],\n  \"total\": 1\n}"
            }
          },
          {
            "searchable": {
              "targetDesc": "invited emails"
            }
          },
          {
            "sortable_2": {
              "field_1": "invited_email",
              "field_2": "invited_at",
              "default": "invited_email"
            }
          },
          "rate-limited"
        ],
        "parameters": [
          {
            "name": "orgId",
            "description": "the id of the organization that the invites are for joining.",
            "required": true,
            "in": "query",
            "schema": {
              "description": "the id of the organization that the invites are for joining.",
              "type": "string"
            }
          }
        ],
        "responses": {
          "400": {
            "description": "Bad request; unknown organization, bad parameter or other failure"
          }
        }
      },
      "post": {
        "description": "Invite a person to join the organization",
        "x-amf-is": [
          "rate-limited"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "example": [
                  {
                    "email": "christopher.mordue@mulesoft.com",
                    "teams": [
                      {
                        "team_id": "f59632be-e43f-4c4f-a303-36b8b0623f29",
                        "membership_type": "member"
                      }
                    ]
                  }
                ],
                "type": "array",
                "x-amf-merge": [
                  {
                    "$ref": "#/components/schemas/InviteNewList"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "example": [
                    {
                      "id": 520,
                      "code": "f2e8dfab-6699-4889-831f-6dc6f8428cb0",
                      "invited_at": "2015-01-30T22:23:55.433Z",
                      "invited_email": "christopher.mordue@mulesoft.com",
                      "invited_by_user": {
                        "id": "57e281b5-ec5b-4701-80a0-92a936a68da3",
                        "username": "organization_owner",
                        "first_name": "Organization2",
                        "last_name": "Owner"
                      },
                      "invited_to_org": {
                        "id": "f0c9b011-980e-4928-9430-e60e3a97c043",
                        "name": "MuleSoft Inc"
                      },
                      "expires_at": "2015-04-10T22:23:55.433Z",
                      "status": "INVITED",
                      "completed_at": null,
                      "completed_by_user": null,
                      "role_groups": [
                        {
                          "name": "Organization Administrators",
                          "role_group_id": "0b19f6df-ed81-4fd1-b5e7-4921f5e46f4c"
                        }
                      ]
                    }
                  ],
                  "type": "array",
                  "x-amf-merge": [
                    {
                      "$ref": "#/components/schemas/InviteList"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request; unknown organization, bad parameter or other failure"
          }
        }
      },
      "delete": {
        "description": "Invite a person to join your organization",
        "x-amf-is": [
          "rate-limited"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "example": [
                  520
                ],
                "type": "array",
                "x-amf-merge": [
                  {
                    "$ref": "#/components/schemas/InvitesIds"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Success"
          },
          "400": {
            "description": "Bad request; unknown organization, bad parameter or no invite was deleted"
          }
        }
      }
    },
    "/invites/{inviteId}": {
      "description": "Invite resource",
      "parameters": [
        {
          "name": "inviteId",
          "description": "The ID of the invite",
          "required": true,
          "in": "path",
          "schema": {
            "description": "The ID of the invite",
            "type": "integer"
          }
        }
      ],
      "get": {
        "description": "get an invite",
        "x-amf-is": [
          "rate-limited"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "id": 520,
                    "code": "f2e8dfab-6699-4889-831f-6dc6f8428cb0",
                    "invited_at": "2015-01-30T22:23:55.433Z",
                    "invited_email": "christopher.mordue@mulesoft.com",
                    "invited_by_user": {
                      "id": "57e281b5-ec5b-4701-80a0-92a936a68da3",
                      "username": "organization_owner",
                      "first_name": "Organization2",
                      "last_name": "Owner"
                    },
                    "invited_to_org": {
                      "id": "f0c9b011-980e-4928-9430-e60e3a97c043",
                      "name": "MuleSoft Inc"
                    },
                    "expires_at": "2015-04-10T22:23:55.433Z",
                    "status": "INVITED",
                    "completed_at": null,
                    "completed_by_user": null,
                    "teams": [
                      {
                        "team_name": "IT",
                        "team_id": "f59632be-e43f-4c4f-a303-36b8b0623f29",
                        "membership_type": "member"
                      }
                    ]
                  },
                  "type": "object",
                  "x-amf-merge": [
                    {
                      "$ref": "#/components/schemas/Invite"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request; bad parameter or other failure"
          },
          "404": {
            "description": "No invite exists in this organization for the given inviteId"
          }
        }
      }
    },
    "/invites/accept": {
      "get": {
        "description": "Redirect to anypoint signin to accept an invite",
        "x-amf-is": [
          "rate-limited"
        ],
        "responses": {}
      }
    },
    "/invites/resend": {
      "description": "Resend invites",
      "post": {
        "description": "Resend a list of invites",
        "x-amf-is": [
          "rate-limited"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "example": [
                  520
                ],
                "type": "array",
                "x-amf-merge": [
                  {
                    "$ref": "#/components/schemas/InvitesIds"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "succeeded": [
                      520
                    ],
                    "failed": []
                  },
                  "type": "object",
                  "additionalProperties": false,
                  "x-amf-merge": [
                    {
                      "$ref": "#/components/schemas/InvitesResendResponse"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "One or more of the invites are not in the organization or no invites were sent"
          }
        }
      }
    },
    "/users": {},
    "/users/{userId}": {
      "parameters": [
        {
          "name": "userId",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/users/{userId}/teams": {
      "parameters": [
        {
          "name": "userId",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "description": "Returns a list of teams the user is a member of",
        "x-amf-is": [
          {
            "searchable": {
              "targetDesc": "team name"
            }
          },
          "offset-paginated",
          {
            "pagination-collection": {
              "example": "{\n  \"data\": [\n    {\n      \"team_id\": \"f59632be-e43f-4c4f-a303-36b8b0623f29\",\n      \"team_name\": \"IT\",\n      \"org_id\": \"6cb9cf0c-de02-4403-ace9-1857c0d0425f\",\n      \"org_name\": \"Mythical Bank\",\n      \"team_type\": \"internal\",\n      \"ancestor_team_ids\": [\"6cad8143-5f3c-4258-8091-2e664819e7f3\"],\n      \"created_at\": \"2019-07-15T09:36:07.123Z\",\n      \"updated_at\": \"2019-07-15T09:36:07.123Z\",\n      \"membership_type\": \"maintainer\",\n      \"is_assigned_via_external_groups\": false\n    }\n  ],\n  \"total\": 1\n}\n",
              "type": "teams.TeamIsMemberOf"
            }
          },
          {
            "sortable_3": {
              "field_1": "team_name",
              "field_2": "created_at",
              "field_3": "team_id",
              "default": "team_name"
            }
          },
          "rate-limited"
        ],
        "parameters": [
          {
            "name": "ancestor_team_id",
            "description": "team_id that must appear in the team's ancestor_team_ids.",
            "in": "query",
            "schema": {
              "description": "team_id that must appear in the team's ancestor_team_ids.",
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "parent_team_id",
            "description": "team_id of the immediate parent of the team to return.",
            "in": "query",
            "schema": {
              "description": "team_id of the immediate parent of the team to return.",
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "team_type",
            "description": "return only teams that are of this type",
            "required": false,
            "in": "query",
            "schema": {
              "description": "return only teams that are of this type",
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "membership_type",
            "description": "return only teams where the user is this type of member",
            "required": false,
            "in": "query",
            "schema": {
              "description": "return only teams where the user is this type of member",
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {}
      }
    },
    "/roles": {},
    "/roles/users": {},
    "/roles/users/search": {
      "description": "Search users by role assignments",
      "post": {
        "description": "Seach users by role assignments",
        "x-amf-is": [
          "rate-limited"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "example": [
                  {
                    "name": "expression",
                    "operator": "AND",
                    "operands": [
                      {
                        "role_id": "b7711f5b-6d74-440b-84f1-0648e84f8ebc",
                        "context_params": {
                          "org": "8b2ce61f-9ebb-4f2a-98e8-bfe730bb90a2"
                        },
                        "match_type": "exact"
                      },
                      {
                        "role_id": "b5860f29-7e8e-4a87-8264-b3759d976e90",
                        "context_params": {
                          "org": "8b2ce61f-9ebb-4f2a-98e8-bfe730bb90a2"
                        },
                        "match_type": "partial"
                      }
                    ]
                  },
                  {
                    "name": "pagination",
                    "limit": 25,
                    "offset": 0
                  },
                  {
                    "name": "sort",
                    "order": "ASC",
                    "field": "id"
                  }
                ],
                "type": "array",
                "maxItems": 3,
                "minItems": 1,
                "uniqueItems": true,
                "items": {
                  "anyOf": [
                    {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "name",
                        "operator",
                        "operands"
                      ],
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "operator": {
                          "enum": [
                            "AND",
                            "OR"
                          ],
                          "type": "string"
                        },
                        "operands": {
                          "type": "array",
                          "maxItems": 5,
                          "minItems": 1,
                          "uniqueItems": true,
                          "items": {
                            "type": "object",
                            "additionalProperties": false,
                            "required": [
                              "role_id",
                              "context_params",
                              "match_type"
                            ],
                            "properties": {
                              "role_id": {
                                "type": "string",
                                "minLength": 36,
                                "maxLength": 36
                              },
                              "context_params": {
                                "type": "object",
                                "additionalProperties": {
                                  "type": "string"
                                }
                              },
                              "match_type": {
                                "default": "partial",
                                "enum": [
                                  "exact",
                                  "partial"
                                ],
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    },
                    {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "name",
                        "limit",
                        "offset"
                      ],
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "limit": {
                          "type": "number",
                          "minimum": 0.0,
                          "maximum": 500.0
                        },
                        "offset": {
                          "type": "number",
                          "minimum": 0.0
                        }
                      }
                    },
                    {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "name",
                        "order",
                        "field"
                      ],
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "order": {
                          "enum": [
                            "ASC",
                            "DESC"
                          ],
                          "type": "string"
                        },
                        "field": {
                          "enum": [
                            "id",
                            "first_name",
                            "firstName",
                            "last_name",
                            "lastName",
                            "username"
                          ],
                          "type": "string"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "data": [
                      {
                        "id": "d5d309ee-8c23-49e3-bec1-70ee99c42061",
                        "username": "Immanuel1234",
                        "firstName": "Immanuel",
                        "lastName": "Jagerson",
                        "email": "Immanuel@gmail.com",
                        "enabled": true,
                        "idprovider_id": "mulesoft",
                        "type": "host",
                        "createdAt": "Mon Feb 09 2015 17:47:26 GMT-0300 (ART)",
                        "updatedAt": "Mon Feb 09 2015 17:47:26 GMT-0300 (ART)",
                        "lastLogin": "Mon Feb 09 2015 17:47:26 GMT-0300 (ART)",
                        "organizationId": "7f30ff47-5917-4a5a-b94d-9fe029edc04d",
                        "assignments": [
                          {
                            "role_id": "833ab9ca-0c72-45ba-9764-1df83240db57",
                            "context_params": {
                              "org": "7f30ff47-5917-4a5a-b94d-9fe029edc04d",
                              "user": "d5d309ee-8c23-49e3-bec1-70ee99c42061"
                            },
                            "created_at": "2019-10-21T11:11:48.204521-07:00"
                          },
                          {
                            "role_id": "e3284047-6334-4580-b441-53afe7598b6e",
                            "context_params": {
                              "org": "7f30ff47-5917-4a5a-b94d-9fe029edc04d",
                              "envId": "4c4efd56-9232-4f41-bb5c-4990539d519f"
                            },
                            "created_at": "2019-10-21T11:11:48.204521-07:00"
                          }
                        ]
                      }
                    ],
                    "total": 1
                  }
                }
              }
            }
          }
        }
      }
    },
    "/roles/rolegroups": {},
    "/roles/rolegroups/search": {
      "description": "Search rolegroups by role assignments",
      "post": {
        "description": "Search rolegroups by role assignments",
        "x-amf-is": [
          "rate-limited"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "example": [
                  {
                    "name": "expression",
                    "operator": "AND",
                    "operands": [
                      {
                        "role_id": "b7711f5b-6d74-440b-84f1-0648e84f8ebc",
                        "context_params": {
                          "org": "8b2ce61f-9ebb-4f2a-98e8-bfe730bb90a2"
                        },
                        "match_type": "exact"
                      },
                      {
                        "role_id": "b5860f29-7e8e-4a87-8264-b3759d976e90",
                        "context_params": {
                          "org": "8b2ce61f-9ebb-4f2a-98e8-bfe730bb90a2"
                        },
                        "match_type": "partial"
                      }
                    ]
                  },
                  {
                    "name": "pagination",
                    "limit": 25,
                    "offset": 0
                  },
                  {
                    "name": "sort",
                    "order": "ASC",
                    "field": "role_group_id"
                  }
                ],
                "type": "array",
                "maxItems": 3,
                "minItems": 1,
                "uniqueItems": true,
                "items": {
                  "anyOf": [
                    {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "name",
                        "operator",
                        "operands"
                      ],
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "operator": {
                          "enum": [
                            "AND",
                            "OR"
                          ],
                          "type": "string"
                        },
                        "operands": {
                          "type": "array",
                          "maxItems": 5,
                          "minItems": 1,
                          "uniqueItems": true,
                          "items": {
                            "type": "object",
                            "additionalProperties": false,
                            "required": [
                              "role_id",
                              "context_params",
                              "match_type"
                            ],
                            "properties": {
                              "role_id": {
                                "type": "string",
                                "minLength": 36,
                                "maxLength": 36
                              },
                              "context_params": {
                                "type": "object",
                                "additionalProperties": {
                                  "type": "string"
                                }
                              },
                              "match_type": {
                                "default": "partial",
                                "enum": [
                                  "exact",
                                  "partial"
                                ],
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    },
                    {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "name",
                        "limit",
                        "offset"
                      ],
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "limit": {
                          "type": "number",
                          "minimum": 0.0,
                          "maximum": 25.0
                        },
                        "offset": {
                          "type": "number",
                          "minimum": 0.0
                        }
                      }
                    },
                    {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "name",
                        "order",
                        "field"
                      ],
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "order": {
                          "enum": [
                            "ASC",
                            "DESC"
                          ],
                          "type": "string"
                        },
                        "field": {
                          "enum": [
                            "role_group_id",
                            "name"
                          ],
                          "type": "string"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "data": [
                      {
                        "created_at": "2021-02-27T01:32:59.572Z",
                        "updated_at": "2021-02-27T01:32:59.572Z",
                        "role_group_id": "1af07a40-cf95-4ed5-a312-7bd453576ac9",
                        "name": "f25df118-08c9-496d-9689-3690eeac6eba",
                        "description": "d50d05da-880a-4d75-beab-d3c2c1398e10",
                        "org_id": "7dc95b9d-aae3-426c-a86d-7f6b19265af1",
                        "editable": true,
                        "external_names": [
                          {
                            "external_group_name": "my external group",
                            "provider_id": "2e50e859-0042-46ff-8cf8-1ad6f0c78b67"
                          }
                        ],
                        "user_count": 1,
                        "assignments": [
                          {
                            "role_id": "f5b8dd3e-8988-4f39-afab-79f86c710cd4",
                            "context_params": {
                              "org": "7dc95b9d-aae3-426c-a86d-7f6b19265af1"
                            },
                            "created_at": "2021-02-26T17:32:59.606836"
                          }
                        ],
                        "org_name": "and Sons0"
                      }
                    ],
                    "total": 1
                  },
                  "type": "object",
                  "additionalProperties": false,
                  "x-amf-merge": [
                    {
                      "$ref": "#/components/schemas/RoleGroupApiResponse"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/roles/teams": {
      "description": "Teams by role"
    },
    "/roles/teams/search": {
      "description": "Search teams by role assignments",
      "post": {
        "description": "Search teams by role assignments",
        "x-amf-is": [
          {
            "pagination-collection": {
              "example": "{\n  \"data\": [\n    {\n      \"team_id\": \"f59632be-e43f-4c4f-a303-36b8b0623f29\",\n      \"team_name\": \"IT\",\n      \"org_id\": \"6cb9cf0c-de02-4403-ace9-1857c0d0425f\",\n      \"org_name\": \"Mythical Bank\",\n      \"team_type\": \"internal\",\n      \"ancestor_team_ids\": [\"6cad8143-5f3c-4258-8091-2e664819e7f3\"],\n      \"created_at\": \"2019-07-15T09:36:07.123Z\",\n      \"updated_at\": \"2019-07-15T09:36:07.123Z\",\n      \"assignments\": [\n        {\n          \"role_id\": \"53823f29-6e57-4c42-acdb-e42a881a888f\",\n          \"name\": \"Manage Servers\",\n          \"context_params\": {\n            \"org\": \"7f30ff47-5917-4a5a-b94d-9fe029edc04d\",\n            \"envId\": \"4c4efd56-9232-4f41-bb5c-4990539d519f\"\n          },\n          \"created_at\": \"2019-10-21T11:11:48.204521-07:00\"\n        }\n      ]\n    }\n  ],\n  \"total\": 1\n}\n",
              "type": "teams.TeamRoleSearchResult"
            }
          },
          "rate-limited"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "example": [
                  {
                    "name": "expression",
                    "operator": "AND",
                    "operands": [
                      {
                        "role_id": "b7711f5b-6d74-440b-84f1-0648e84f8ebc",
                        "context_params": {
                          "org": "8b2ce61f-9ebb-4f2a-98e8-bfe730bb90a2"
                        },
                        "match_type": "exact"
                      },
                      {
                        "role_id": "b5860f29-7e8e-4a87-8264-b3759d976e90",
                        "context_params": {
                          "org": "8b2ce61f-9ebb-4f2a-98e8-bfe730bb90a2"
                        },
                        "match_type": "partial"
                      }
                    ]
                  },
                  {
                    "name": "pagination",
                    "limit": 25,
                    "offset": 0
                  },
                  {
                    "name": "sort",
                    "order": "ASC",
                    "field": "team_name"
                  }
                ],
                "type": "array",
                "maxItems": 3,
                "minItems": 1,
                "uniqueItems": true,
                "items": {
                  "anyOf": [
                    {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "name",
                        "operator",
                        "operands"
                      ],
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "operator": {
                          "enum": [
                            "AND",
                            "OR"
                          ],
                          "type": "string"
                        },
                        "operands": {
                          "type": "array",
                          "maxItems": 5,
                          "minItems": 1,
                          "uniqueItems": true,
                          "items": {
                            "type": "object",
                            "additionalProperties": false,
                            "required": [
                              "role_id",
                              "context_params",
                              "match_type"
                            ],
                            "properties": {
                              "role_id": {
                                "type": "string",
                                "minLength": 36,
                                "maxLength": 36
                              },
                              "context_params": {
                                "type": "object",
                                "additionalProperties": {
                                  "type": "string"
                                }
                              },
                              "match_type": {
                                "default": "partial",
                                "enum": [
                                  "exact",
                                  "partial"
                                ],
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    },
                    {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "name",
                        "limit",
                        "offset"
                      ],
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "limit": {
                          "type": "number",
                          "minimum": 0.0,
                          "maximum": 25.0
                        },
                        "offset": {
                          "type": "number",
                          "minimum": 0.0
                        }
                      }
                    },
                    {
                      "type": "object",
                      "additionalProperties": false,
                      "required": [
                        "name",
                        "order",
                        "field"
                      ],
                      "properties": {
                        "name": {
                          "type": "string"
                        },
                        "order": {
                          "enum": [
                            "ASC",
                            "DESC"
                          ],
                          "type": "string"
                        },
                        "field": {
                          "enum": [
                            "team_id",
                            "name",
                            "team_name",
                            "first_name",
                            "firstName",
                            "last_name",
                            "lastName",
                            "username"
                          ],
                          "type": "string"
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "responses": {}
      }
    },
    "/recover": {
      "description": "recover user's account"
    },
    "/recover/username": {
      "post": {
        "description": "sends email with list of usernames associated with the given email",
        "x-amf-is": [
          "rate-limited"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "example": {
                  "email": "christopher.mordue@mulesoft.com"
                },
                "type": "object",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "email was sent or no users are associated with the given email"
          },
          "400": {
            "description": "Bad request; missing email parameter"
          }
        },
        "security": [
          {
            "null": []
          }
        ]
      }
    },
    "/recover/password": {
      "post": {
        "description": "sends a 'forgot password' email with password reset link to the email associated with the given username",
        "x-amf-is": [
          "rate-limited"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "example": {
                  "username": "cmordue"
                },
                "type": "object",
                "required": [
                  "username"
                ],
                "properties": {
                  "username": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "email was sent or user with username does not exist",
            "content": {
              "text/plain": {
                "schema": {
                  "example": "OK"
                }
              }
            }
          },
          "400": {
            "description": "Bad request; missing username parameter"
          }
        },
        "security": [
          {
            "null": []
          }
        ]
      }
    },
    "/recover/password/{recoverCode}": {
      "description": "reset password",
      "parameters": [
        {
          "name": "recoverCode",
          "description": "A code sent in a password reset email used to prove the bearer has the right to change a user's password",
          "required": true,
          "in": "path",
          "schema": {
            "description": "A code sent in a password reset email used to prove the bearer has the right to change a user's password",
            "type": "string"
          }
        }
      ],
      "get": {
        "description": "Checks the validity of the password reset code",
        "x-amf-is": [
          "rate-limited"
        ],
        "responses": {
          "200": {
            "description": "the code is valid",
            "content": {
              "text/plain": {
                "schema": {
                  "example": "OK"
                }
              }
            }
          },
          "404": {
            "description": "the code does not exist"
          }
        },
        "security": [
          {
            "null": []
          }
        ]
      },
      "post": {
        "description": "Sets a new password for the user associated with the password reset code",
        "x-amf-is": [
          "rate-limited"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "example": {
                  "password": "Password1",
                  "confirmPassword": "Password1"
                },
                "type": "object",
                "required": [
                  "password",
                  "confirmPassword"
                ],
                "properties": {
                  "password": {
                    "type": "string",
                    "minLength": 6
                  },
                  "confirmPassword": {
                    "type": "string",
                    "minLength": 6
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "the password was successfully reset",
            "content": {
              "text/plain": {
                "schema": {
                  "example": "OK"
                }
              }
            }
          },
          "400": {
            "description": "any of the code, password or confirmPassword are missing or password and confirmPassword do not match"
          },
          "404": {
            "description": "the code does not exist"
          }
        },
        "security": [
          {
            "null": []
          }
        ]
      }
    },
    "/cs": {},
    "/cs/connectedApplications": {
      "get": {
        "description": "Search endpoint over all Connected Applications the caller might want to whitelist.\nReturns all public Connected Applications, as well as all applications in the caller's own organization.\nDoes not return disabled applications.\nThis API may change/disappear at any time without prior notification; there are no backwards compatibility guarantees for format, function or existence across multiple releases.\n",
        "x-amf-is": [
          "offset-paginated",
          {
            "searchable": {
              "targetDesc": "client id or client name"
            }
          },
          {
            "pagination-collection": {
              "example": "{\n  \"data\": [\n    {\n      \"client_id\": \"0fa2aa2f0aeb4978b96796a0843f898c\",\n      \"owner_org_id\": \"0eb65884-4f75-48f7-a8bc-4e30b46e721d\",\n      \"client_name\": \"Client Credz\",\n      \"client_uri\": null,\n      \"policy_uri\": null,\n      \"tos_uri\": null\n    },\n    {\n      \"client_id\": \"e8c28f0249a6417bb892ff8d6013d628\",\n      \"owner_org_id\": \"0eb65884-4f75-48f7-a8bc-4e30b46e721d\",\n      \"client_name\": \"OpenID Integration\",\n      \"client_uri\": null,\n      \"policy_uri\": null,\n      \"tos_uri\": null\n    }\n  ],\n  \"total\": 2\n}\n",
              "type": "connectedApplications.PublicConnectedApplication"
            }
          },
          "rate-limited"
        ],
        "parameters": [
          {
            "name": "client_id",
            "description": "search for specific client_id",
            "in": "query",
            "schema": {
              "description": "search for specific client_id",
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {}
      }
    },
    "/cs/login/{domain}/metadata": {
      "parameters": [
        {
          "name": "domain",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "description": "Get the metadata (isFederated, name) for the organization domain.\n",
        "x-amf-is": [
          "rate-limited"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "isFederated": true,
                    "name": "domain"
                  }
                }
              }
            }
          },
          "404": {
            "description": "Domain not found"
          }
        }
      }
    },
    "/cs/users/{userId}/rolegroups": {
      "parameters": [
        {
          "name": "userId",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "description": "Get all the user rolegroup assignments the caller has permission to see\nThis API may change/disappear at any time without prior notification; there are no backwards compatibility guarantees for format, function or existence across multiple releases.\n",
        "x-amf-is": [
          "rate-limited"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "data": [
                      {
                        "role_group_id": "36c6f48a-f26a-44b0-9789-dd8edd0f2df9",
                        "name": "Organization Administrators",
                        "description": "Organization Administrators",
                        "external_names": [],
                        "editable": false,
                        "org_id": "27a9bd7e-f962-4287-94ff-b3f4ae7a2c20",
                        "created_at": "2019-07-15T09:36:07.123Z",
                        "updated_at": "2019-07-15T09:36:07.123Z",
                        "context_params": {},
                        "user_role_group_id": "9ca1f615-45f8-4f36-86a0-ed1fe43cb551",
                        "user_count": 1
                      },
                      {
                        "role_group_id": "458b2756-6dfe-459a-9266-b5e79e5d074c",
                        "name": "Cloudhub Admin (Sandbox)",
                        "description": "Cloudhub (Sandbox) Admin users",
                        "external_names": [],
                        "editable": false,
                        "org_id": "27a9bd7e-f962-4287-94ff-b3f4ae7a2c20",
                        "created_at": "2019-07-15T09:36:07.123Z",
                        "updated_at": "2019-07-15T09:36:07.123Z",
                        "context_params": {},
                        "user_role_group_id": "3502c24f-eaac-49c6-bf1e-b2c19b1f8db8",
                        "user_count": 1
                      },
                      {
                        "role_group_id": "52de3521-906e-406f-8930-517897b0a0ee",
                        "name": "Cloudhub Admin (Sandbox)",
                        "description": "Cloudhub (Sandbox) Admin users",
                        "external_names": [],
                        "editable": false,
                        "org_id": "27a9bd7e-f962-4287-94ff-b3f4ae7a2c20",
                        "created_at": "2019-07-15T09:36:07.123Z",
                        "updated_at": "2019-07-15T09:36:07.123Z",
                        "context_params": {},
                        "user_role_group_id": "37cbeba9-e489-4309-85cc-ff6d4a3035e3",
                        "user_count": 1
                      },
                      {
                        "role_group_id": "95ab11f7-43be-4f7e-abc7-d258d6eb439a",
                        "name": "Organization Administrators",
                        "description": "Organization Administrators",
                        "external_names": [],
                        "editable": false,
                        "org_id": "27a9bd7e-f962-4287-94ff-b3f4ae7a2c20",
                        "created_at": "2019-07-15T09:36:07.123Z",
                        "updated_at": "2019-07-15T09:36:07.123Z",
                        "context_params": {},
                        "user_role_group_id": "3b01414f-57d4-44cf-85b4-e357cd381827",
                        "user_count": 1
                      },
                      {
                        "role_group_id": "bca51325-54e5-41fa-9cfa-0e1b64cefa01",
                        "name": "Cloudhub Admin (Design)",
                        "description": "Cloudhub (Design) Admin users",
                        "external_names": [],
                        "editable": false,
                        "org_id": "27a9bd7e-f962-4287-94ff-b3f4ae7a2c20",
                        "created_at": "2019-07-15T09:36:07.123Z",
                        "updated_at": "2019-07-15T09:36:07.123Z",
                        "context_params": {},
                        "user_role_group_id": "c345d5b6-7df5-4220-9731-d754f4dd79db",
                        "user_count": 1
                      },
                      {
                        "role_group_id": "d0473f21-8424-4aea-9fec-be54b9f84cf8",
                        "name": "Cloudhub Admin (Design)",
                        "description": "Cloudhub (Design) Admin users",
                        "external_names": [],
                        "editable": false,
                        "org_id": "27a9bd7e-f962-4287-94ff-b3f4ae7a2c20",
                        "created_at": "2019-07-15T09:36:07.123Z",
                        "updated_at": "2019-07-15T09:36:07.123Z",
                        "context_params": {},
                        "user_role_group_id": "c1757a9f-a72c-440c-a775-c125ce4fa466",
                        "user_count": 1
                      }
                    ],
                    "total": 6
                  },
                  "type": "object",
                  "additionalProperties": false,
                  "x-amf-merge": [
                    {
                      "$ref": "#/components/schemas/RoleGroupApiResponse"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/cs/scopes": {
      "get": {
        "description": "Retrieve all scopes currently enabled in the platform.\nThis API may change/disappear at any time without prior notification; there are no backwards compatibility guarantees for format, function or existence across multiple releases.\n",
        "x-amf-is": [
          "rate-limited"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "example": [
                    {
                      "scope": "openid",
                      "displayName": "Profile Data",
                      "description": "Read-only access to your Profile Data (username, email, unique ID)"
                    },
                    {
                      "scope": "offline_access",
                      "displayName": "Background Access",
                      "description": "Access to your data when you are not logged in"
                    },
                    {
                      "scope": "api:admin",
                      "displayName": "API Admin",
                      "description": "Admin access to your applications in the API Portal"
                    }
                  ],
                  "type": "array",
                  "minItems": 1,
                  "uniqueItems": true,
                  "items": {
                    "type": "object",
                    "additionalProperties": false,
                    "required": [
                      "scope",
                      "displayName",
                      "description"
                    ],
                    "properties": {
                      "scope": {
                        "type": "string",
                        "minLength": 2,
                        "maxLength": 256
                      },
                      "displayName": {
                        "type": "string",
                        "minLength": 2,
                        "maxLength": 256
                      },
                      "description": {
                        "type": "string",
                        "minLength": 2,
                        "maxLength": 256
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/cs/scopeAssignments": {
      "get": {
        "description": "Retrieve all eligible scope assignment contexts the caller has permission to assign to a client_credentials domain client.\nThis API may change/disappear at any time without prior notification; there are no backwards compatibility guarantees for format, function or existence across multiple releases.\n",
        "x-amf-is": [
          "rate-limited"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "organizations": [
                      {
                        "id": "2cd73eff-e862-4b4e-b596-84cf8eb6f11d",
                        "name": "The Master Org",
                        "environments": [
                          {
                            "id": "9d8b7b39-7744-4ab7-9fb6-a75a343c5ee4",
                            "name": "Prod"
                          },
                          {
                            "id": "2d6660fe-d5fc-4da6-90bd-68fc17b478f7",
                            "name": "Design"
                          }
                        ]
                      },
                      {
                        "id": "0e6700dc-41a1-4234-889e-908d9d6df3e2",
                        "name": "A Sub-Org",
                        "environments": [
                          {
                            "id": "f16f1c35-c517-4442-8f73-36d0879e5832",
                            "name": "Sandbox"
                          },
                          {
                            "id": "f84ab301-17d4-4ed0-9beb-0c977e98045c",
                            "name": "Sub-Org Sandbox"
                          }
                        ]
                      }
                    ],
                    "scopes": [
                      {
                        "scope": "api:admin",
                        "displayName": "API Admin",
                        "description": "Admin access to your applications in the API Portal",
                        "requiredContext": "orgWithEnv"
                      },
                      {
                        "scope": "org:read",
                        "displayName": "Read Organization Data",
                        "description": "Read-only access to your organization data",
                        "requiredContext": "orgOnly"
                      },
                      {
                        "scope": "profile",
                        "displayName": "Read Anypoint Profile",
                        "description": "Read-only access to your Anypoint Profile",
                        "requiredContext": "none"
                      }
                    ]
                  },
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "organizations",
                    "scopes"
                  ],
                  "properties": {
                    "organizations": {
                      "type": "array",
                      "minItems": 1,
                      "uniqueItems": true,
                      "items": {
                        "type": "object",
                        "additionalProperties": false,
                        "required": [
                          "id",
                          "name",
                          "environments"
                        ],
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "environments": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "additionalProperties": false,
                              "required": [
                                "id",
                                "name"
                              ],
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "name": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "scopes": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "additionalProperties": false,
                        "required": [
                          "scope",
                          "displayName",
                          "description",
                          "requiredContext"
                        ],
                        "properties": {
                          "scope": {
                            "type": "string",
                            "minLength": 2,
                            "maxLength": 256
                          },
                          "displayName": {
                            "type": "string",
                            "minLength": 2,
                            "maxLength": 256
                          },
                          "description": {
                            "type": "string",
                            "minLength": 2,
                            "maxLength": 256
                          },
                          "requiredContext": {
                            "enum": [
                              "orgOnly",
                              "orgWithEnv",
                              "none"
                            ],
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/cs/conditionalAssignments": {
      "get": {
        "description": "Retrieve all elegible scope and role assignment contexts the caller has permission to assign to another identity,\nalong with all platform data used to draw the UI for each product tab\nThis API may change/disappear at any time without prior notification; there are no backwards compatibility guarantees for format, function or existence across multiple releases.\n",
        "x-amf-is": [
          "rate-limited"
        ],
        "parameters": [
          {
            "name": "intent",
            "description": "The caller's intent for how they will use the context data - whether for a role assignment, scope assignment, or scope delegation request\n",
            "in": "query",
            "schema": {
              "description": "The caller's intent for how they will use the context data - whether for a role assignment, scope assignment, or scope delegation request\n",
              "enum": [
                "role_assignment",
                "scope_assignment",
                "scope_request"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "organizations": [
                      {
                        "id": "2cd73eff-e862-4b4e-b596-84cf8eb6f11d",
                        "name": "The Master Org",
                        "isMaster": true,
                        "environments": [
                          {
                            "id": "9d8b7b39-7744-4ab7-9fb6-a75a343c5ee4",
                            "name": "Prod",
                            "type": "production"
                          },
                          {
                            "id": "2d6660fe-d5fc-4da6-90bd-68fc17b478f7",
                            "name": "Design",
                            "type": "design"
                          }
                        ]
                      },
                      {
                        "id": "0e6700dc-41a1-4234-889e-908d9d6df3e2",
                        "name": "A Sub-Org",
                        "isMaster": false,
                        "environments": [
                          {
                            "id": "f16f1c35-c517-4442-8f73-36d0879e5832",
                            "name": "Americas",
                            "type": "design"
                          },
                          {
                            "id": "f84ab301-17d4-4ed0-9beb-0c977e98045c",
                            "name": "Sub-Org Sandbox",
                            "type": "sandbox"
                          }
                        ]
                      }
                    ],
                    "products": [
                      {
                        "product_id": "api_manager",
                        "label": "API Manager",
                        "permissions": [
                          {
                            "displayName": "API Manager Environment Administrator",
                            "contextKeys": [
                              "org",
                              "envId"
                            ],
                            "scope": "manage:apis",
                            "role_id": "f14b0d23-a267-4014-9563-29d46a26295b",
                            "description": "Manage all APIs inside a specific environment",
                            "conditions": []
                          },
                          {
                            "displayName": "Manage Policies",
                            "contextKeys": [
                              "org",
                              "envId"
                            ],
                            "scope": "manage:api_policies",
                            "role_id": "92000113-61b8-4d82-a98f-7d36275d6bc6",
                            "description": "Manage all APIs policies inside a specific environment",
                            "conditions": []
                          }
                        ]
                      },
                      {
                        "product_id": "cloudhub",
                        "label": "We Changed Our Name Too Many Times",
                        "permissions": [
                          {
                            "displayName": "Read Applications",
                            "contextKeys": [
                              "org",
                              "envId"
                            ],
                            "scope": "read:applications",
                            "role_id": "3c91e5ca-fe58-441f-b6ab-a2be0a684bbf",
                            "description": "Gives read access to applications in a specific environment",
                            "conditions": [
                              "noDesignEnvironments"
                            ]
                          }
                        ]
                      },
                      {
                        "product_id": "visualizer",
                        "label": "Application Visualizer",
                        "permissions": [
                          {
                            "displayName": "Visualizer Editor",
                            "contextKeys": [
                              "org"
                            ],
                            "scope": "edit:visualizer",
                            "role_id": "6a78512a-8c75-4744-ad24-87e6e5847e73",
                            "description": "Grants write and read access to Visualizer",
                            "conditions": [
                              "noSubOrganizations"
                            ]
                          }
                        ]
                      },
                      {
                        "product_id": "cs_auth",
                        "label": "Access Management",
                        "permissions": [
                          {
                            "displayName": "openidConnect",
                            "contextKeys": [],
                            "scope": "openid",
                            "role_id": "9f3f516d-4355-491c-bbf1-523b1480dcce",
                            "description": "Read-only access to your username and Anypoint ID",
                            "conditions": []
                          }
                        ]
                      }
                    ]
                  },
                  "type": "object",
                  "additionalProperties": false,
                  "x-amf-merge": [
                    {
                      "$ref": "#/components/schemas/ConditionalAssignments"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/cs/organizations/{orgId}": {
      "parameters": [
        {
          "name": "orgId",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/cs/organizations/{orgId}/administrators": {
      "description": "Experience API over an organization's administrators (teams & users)\nThis API may change/disappear at any time without prior notification; there are no backwards compatibility guarantees for format, function or existence across multiple releases.\n",
      "parameters": [
        {
          "name": "orgId",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "description": "Experience API for getting a list of users that administer an organization\nThis API may change/disappear at any time without prior notification; there are no backwards compatibility guarantees for format, function or existence across multiple releases.\n",
        "x-amf-is": [
          {
            "searchable": {
              "targetDesc": "firstName, lastName, email or username of the user"
            }
          },
          {
            "pagination-collection": {
              "example": "{\n  \"data\": [\n    {\n      \"id\": \"462ddd98-edd2-423b-9218-9f8e0f4c42ba\",\n      \"username\": \"anypointadmin\",\n      \"firstName\": \"Admin\",\n      \"lastName\": \"Admin\",\n      \"email\": \"mulesoft.library+admin@gmail.com\",\n      \"organizationId\": \"68ef9520-24e9-4cf2-b2f5-620025690913\",\n      \"enabled\": true,\n      \"idprovider_id\": \"mulesoft\",\n      \"context_params\": {}\n    }\n  ],\n  \"total\": 1\n}\n",
              "type": "users.UserAbbrevated"
            }
          },
          "offset-paginated",
          "rate-limited"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "data": [
                      {
                        "id": "462ddd98-edd2-423b-9218-9f8e0f4c42ba",
                        "username": "anypointadmin",
                        "firstName": "Admin",
                        "lastName": "Admin",
                        "email": "mulesoft.library+admin@gmail.com",
                        "organizationId": "68ef9520-24e9-4cf2-b2f5-620025690913",
                        "enabled": true,
                        "idprovider_id": "mulesoft",
                        "context_params": {}
                      }
                    ],
                    "total": 1
                  }
                }
              }
            }
          }
        }
      }
    },
    "/cs/organizations/{orgId}/clientProviders": {
      "parameters": [
        {
          "name": "orgId",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "description": "Returns the list of client management belonging to the organization along with the details of number of environments using it.\n",
        "x-amf-is": [
          "offset-paginated",
          "rate-limited"
        ],
        "parameters": [
          {
            "name": "provider_id",
            "description": "One or more ids of the provider(s) to return.\n",
            "in": "query",
            "schema": {
              "description": "One or more ids of the provider(s) to return.\n",
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "data": [
                      {
                        "providerId": "2e50e859-0042-46ff-8cf8-1ad6f0c78b67",
                        "organizationId": "2e71d283-6248-4c81-98eb-e254a89b7e0a",
                        "name": "Production Client Management Config",
                        "type": {
                          "description": "PingFederate",
                          "name": "ping"
                        },
                        "associatedEnvironmentCount": 5
                      }
                    ],
                    "total": 1
                  }
                }
              }
            }
          }
        }
      }
    },
    "/cs/organizations/{orgId}/clientProviders/{clientProviderId}": {
      "parameters": [
        {
          "name": "orgId",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "clientProviderId",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        }
      ]
    },
    "/cs/organizations/{orgId}/clientProviders/{clientProviderId}/environments": {
      "parameters": [
        {
          "name": "orgId",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        },
        {
          "name": "clientProviderId",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "description": "Returns the associated environments details.",
        "x-amf-is": [
          "offset-paginated",
          {
            "pagination-collection": {
              "example": "{\n  \"data\": [\n    {\n      \"id\": \"226909a3-7ad6-4f4f-8e2e-f8091c9e11d6\",\n      \"name\": \"test-env\",\n      \"type\": \"sandbox\",\n      \"organization_name\": \"mulesoft\"\n    }\n  ],\n  \"total\": 3\n}\n",
              "type": "clientProviders.associatedEnvironments"
            }
          },
          "rate-limited"
        ],
        "responses": {}
      }
    },
    "/cs/organizations/{orgId}/connectedApplications/authorizations": {
      "description": "Permissions granted to connected applications by users within the organization.\nThis API may change/disappear at any time without prior notification; there are no backwards compatibility guarantees for format, function or existence across multiple releases.\n",
      "parameters": [
        {
          "name": "orgId",
          "required": true,
          "in": "path",
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "description": "Returns all the authorizations that grant access to resources in the organization.\nIf a user is specified, it will return the authorization_id of the (user, client) pairing.\nIf a user is not specified, the count of the users that authorize the app will be returned.\nThis API may change/disappear at any time without prior notification; there are no backwards compatibility guarantees for format, function or existence across multiple releases.\n",
        "x-amf-is": [
          "offset-paginated",
          "rate-limited"
        ],
        "parameters": [
          {
            "name": "user_id",
            "description": "Only return authorizations granted by that user",
            "required": false,
            "in": "query",
            "schema": {
              "description": "Only return authorizations granted by that user",
              "example": "3f7eb03b-1e53-4dd7-8304-c7f52cef183d",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "x-amf-examples": {
                    "rolled up by client": {
                      "data": [
                        {
                          "client_id": "d5e32198-7cc1-4c26-ab83-fd8912e16967",
                          "client_name": "RAML Sync Tool",
                          "client_uri": "https://ramlsynctool.com/about.html",
                          "tos_uri": "https://ramlsynctool.com/tos.html",
                          "policy_uri": "https://ramlsynctool.com/privacy.html",
                          "user_authorized_scopes": [
                            "profile",
                            "read:raml"
                          ],
                          "attached_scopes": [
                            "profile",
                            "offline_access",
                            "read:raml",
                            "read:users"
                          ],
                          "whitelisted_scopes": [
                            "profile",
                            "read:raml",
[...]
