{
  "openapi": "3.0.0",
  "info": {
    "title": "exchange-xapi",
    "version": "v2"
  },
  "servers": [
    {
      "url": "https://anypoint.mulesoft.com/exchange/api/v2"
    }
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/assets": {
      "x-amf-displayName": "Assets",
      "description": "Represents all the resources under the assets path",
      "x-amf-type": "assetsPost"
    },
    "/assets/search": {
      "x-amf-displayName": "Assets Search",
      "description": "Assets Search",
      "x-amf-type": "assetsSearch"
    },
    "/assets/{groupId}/{assetId}": {
      "x-amf-displayName": "Asset",
      "description": "Asset by groupId and assetId",
      "parameters": [
        {
          "name": "groupId",
          "description": "groupId of the asset",
          "required": true,
          "in": "path",
          "schema": {
            "description": "groupId of the asset",
            "type": "string"
          }
        },
        {
          "name": "assetId",
          "description": "assetId of the asset",
          "required": true,
          "in": "path",
          "schema": {
            "description": "assetId of the asset",
            "type": "string"
          }
        }
      ],
      "delete": {
        "description": "Deletes an asset",
        "x-amf-is": [
          "deleteable"
        ],
        "responses": {
          "204": {
            "description": "Asset deleted"
          },
          "409": {
            "description": "There were conflicts while deleting"
          }
        }
      },
      "patch": {
        "operationId": "Updates name and description",
        "description": "Updates asset metadata (name and description)",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "anyOf": [
                  {
                    "type": "object"
                  },
                  {
                    "type": "object"
                  },
                  {
                    "type": "object"
                  },
                  {
                    "type": "object"
                  }
                ],
                "example": {
                  "name": "new asset name",
                  "description": "new asset description"
                },
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 256
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 255
                  },
                  "contactName": {
                    "type": "string",
                    "maxLength": 255
                  },
                  "contactEmail": {
                    "type": "string",
                    "maxLength": 255
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": ""
          }
        }
      }
    },
    "/assets/{groupId}/{assetId}/icon": {
      "x-amf-displayName": "Icon",
      "description": "Asset icon",
      "parameters": [
        {
          "name": "groupId",
          "description": "groupId of the asset",
          "required": true,
          "in": "path",
          "schema": {
            "description": "groupId of the asset",
            "type": "string"
          }
        },
        {
          "name": "assetId",
          "description": "assetId of the asset",
          "required": true,
          "in": "path",
          "schema": {
            "description": "assetId of the asset",
            "type": "string"
          }
        }
      ],
      "put": {
        "operationId": "Uploads an icon",
        "description": "Uploads an icon as a binary file",
        "requestBody": {
          "content": {
            "*/*": {
              "schema": {
                "example": "<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<!-- Generator: Adobe Illustrator 19.2.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->\n<svg version=\"1.1\" xmlns=\"http://www.w3.org/2000/svg\"  x=\"0px\" y=\"0px\"\n\t viewBox=\"0 0 26 26\" enable-background=\"new 0 0 26 26\" xml:space=\"preserve\">\n<g id=\"guides\">\n</g>\n<g id=\"white\">\n</g>\n<g id=\"_x31_6_16\" display=\"none\">\n</g>\n<g id=\"content\">\n\t<path fill=\"#00A3E0\" d=\"M20.5492554,17.5856934l1.6424561,1.1501465C20.3830566,21.314209,17.3885498,23,13.999939,23\n\t\tc-4.8378296,0-8.8724365-3.4356689-9.7990723-8H1.9991455v-4h2.2017212c0.9266357-4.5643311,4.9612427-8,9.7990723-8\n\t\tc3.3886108,0,6.3831177,1.685791,8.1917725,4.2641602l-1.6424561,1.1501465C19.1008301,6.3518066,16.7059937,5,13.999939,5\n\t\tC9.5887451,5,6,8.5888672,6,13s3.5887451,8,7.999939,8C16.7059937,21,19.1008301,19.6481934,20.5492554,17.5856934z\"/>\n\t<path fill=\"#087299\" d=\"M24.0009766,12.0136719l-6.1418457-0.0118408C17.4136353,10.2785645,15.8623657,9,14,9\n\t\tc-2.2091064,0-3.999939,1.7907715-3.999939,4c0,2.2091064,1.7908325,4,3.999939,4\n\t\tc1.8660278,0,3.4203491-1.2834473,3.8622437-3.0118408L23.9970703,14L24.0009766,12.0136719z M14,15c-1.1027832,0-2-0.8972168-2-2\n\t\ts0.8972168-2,2-2c1.1028442,0,2,0.8972168,2,2S15.1028442,15,14,15z\"/>\n</g>\n<g id=\"grid\">\n</g>\n</svg>\n"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "assetId": "api-test",
                    "groupId": "59291b3f-c12a-4c84-be4b-19cf19de0475",
                    "classifier": "icon",
                    "packaging": "png",
                    "externalKey": "59291b3f-c12a-4c84-be4b-19cf19de0475/41470514d754ff6ae8906b93540742c8dbaeb44deb88d565f677c47641452870.png",
                    "externalLink": "http://localhost/api-test-1.0.0-icon.png"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "description": "Delete an icon for the whole ga",
        "responses": {
          "204": {
            "description": "Icon deleted"
          }
        }
      }
    },
    "/assets/{groupId}/{assetId}/public": {
      "x-amf-displayName": "Public Versions",
      "description": "Public asset versions",
      "parameters": [
        {
          "name": "groupId",
          "description": "groupId of the asset",
          "required": true,
          "in": "path",
          "schema": {
            "description": "groupId of the asset",
            "type": "string"
          }
        },
        {
          "name": "assetId",
          "description": "assetId of the asset",
          "required": true,
          "in": "path",
          "schema": {
            "description": "assetId of the asset",
            "type": "string"
          }
        }
      ],
      "put": {
        "operationId": "Updates versions visibility",
        "description": "Sets the public versions for the asset",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "example": [
                  {
                    "versionGroup": "v1"
                  },
                  {
                    "versionGroup": "v2"
                  }
                ],
                "type": "array",
                "items": {
                  "type": "object",
                  "required": [
                    "versionGroup"
                  ],
                  "properties": {
                    "versionGroup": {
                      "type": "string",
                      "minLength": 1
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": ""
          }
        }
      }
    },
    "/assets/{groupId}/{assetId}/asset": {
      "x-amf-displayName": "Asset",
      "description": "Asset",
      "x-amf-type": "simpleAsset",
      "parameters": [
        {
          "name": "groupId",
          "description": "groupId of the asset",
          "required": true,
          "in": "path",
          "schema": {
            "description": "groupId of the asset",
            "type": "string"
          }
        },
        {
          "name": "assetId",
          "description": "assetId of the asset",
          "required": true,
          "in": "path",
          "schema": {
            "description": "assetId of the asset",
            "type": "string"
          }
        }
      ]
    },
    "/assets/{groupId}/{assetId}/minorVersions": {
      "x-amf-displayName": "Minor Versions",
      "description": "Asset minor versions",
      "parameters": [
        {
          "name": "groupId",
          "description": "groupId of the asset",
          "required": true,
          "in": "path",
          "schema": {
            "description": "groupId of the asset",
            "type": "string"
          }
        },
        {
          "name": "assetId",
          "description": "assetId of the asset",
          "required": true,
          "in": "path",
          "schema": {
            "description": "assetId of the asset",
            "type": "string"
          }
        }
      ]
    },
    "/assets/{groupId}/{assetId}/minorVersions/{minorVersion}": {
      "x-amf-displayName": "By Minor Version",
      "description": "Asset by minor version",
      "parameters": [
        {
          "name": "groupId",
          "description": "groupId of the asset",
          "required": true,
          "in": "path",
          "schema": {
            "description": "groupId of the asset",
            "type": "string"
          }
        },
        {
          "name": "assetId",
          "description": "assetId of the asset",
          "required": true,
          "in": "path",
          "schema": {
            "description": "assetId of the asset",
            "type": "string"
          }
        },
        {
          "name": "minorVersion",
          "description": "Minor version",
          "required": true,
          "in": "path",
          "schema": {
            "description": "Minor version",
            "example": "2.22",
            "type": "string",
            "pattern": "^[0-9]+\\.[0-9]+$"
          }
        }
      ]
    },
    "/assets/{groupId}/{assetId}/minorVersions/{minorVersion}/portal": {
      "x-amf-displayName": "Portal Documentation",
      "description": "Asset documentation by minor version",
      "parameters": [
        {
          "name": "groupId",
          "description": "groupId of the asset",
          "required": true,
          "in": "path",
          "schema": {
            "description": "groupId of the asset",
            "type": "string"
          }
        },
        {
          "name": "assetId",
          "description": "assetId of the asset",
          "required": true,
          "in": "path",
          "schema": {
            "description": "assetId of the asset",
            "type": "string"
          }
        },
        {
          "name": "minorVersion",
          "description": "Minor version",
          "required": true,
          "in": "path",
          "schema": {
            "description": "Minor version",
            "example": "2.22",
            "type": "string",
            "pattern": "^[0-9]+\\.[0-9]+$"
          }
        }
      ]
    },
    "/assets/{groupId}/{assetId}/minorVersions/{minorVersion}/portal/pages": {
      "x-amf-displayName": "Pages",
      "description": "Asset documentation pages by minor version",
      "x-amf-type": "pages",
      "parameters": [
        {
          "name": "groupId",
          "description": "groupId of the asset",
          "required": true,
          "in": "path",
          "schema": {
            "description": "groupId of the asset",
            "type": "string"
          }
        },
        {
          "name": "assetId",
          "description": "assetId of the asset",
          "required": true,
          "in": "path",
          "schema": {
            "description": "assetId of the asset",
            "type": "string"
          }
        },
        {
          "name": "minorVersion",
          "description": "Minor version",
          "required": true,
          "in": "path",
          "schema": {
            "description": "Minor version",
            "example": "2.22",
            "type": "string",
            "pattern": "^[0-9]+\\.[0-9]+$"
          }
        }
      ]
    },
    "/assets/{groupId}/{assetId}/minorVersions/{minorVersion}/status": {
      "x-amf-displayName": "Status",
      "description": "Asset status by minor version",
      "x-amf-type": "assetStatus",
      "parameters": [
        {
          "name": "groupId",
          "description": "groupId of the asset",
          "required": true,
          "in": "path",
          "schema": {
            "description": "groupId of the asset",
            "type": "string"
          }
        },
        {
          "name": "assetId",
          "description": "assetId of the asset",
          "required": true,
          "in": "path",
          "schema": {
            "description": "assetId of the asset",
            "type": "string"
          }
        },
        {
          "name": "minorVersion",
          "description": "Minor version",
          "required": true,
          "in": "path",
          "schema": {
            "description": "Minor version",
            "example": "2.22",
            "type": "string",
            "pattern": "^[0-9]+\\.[0-9]+$"
          }
        }
      ]
    },
    "/assets/{groupId}/{assetId}/versionGroups": {
      "x-amf-displayName": "Version Groups",
      "description": "Version groups of an asset",
      "x-amf-type": "versionGroups",
      "parameters": [
        {
          "name": "groupId",
          "description": "groupId of the asset",
          "required": true,
          "in": "path",
          "schema": {
            "description": "groupId of the asset",
            "type": "string"
          }
        },
        {
          "name": "assetId",
          "description": "assetId of the asset",
          "required": true,
          "in": "path",
          "schema": {
            "description": "assetId of the asset",
            "type": "string"
          }
        }
      ]
    },
    "/assets/{groupId}/{assetId}/versionGroups/{versionGroup}": {
      "x-amf-displayName": "By Version Group",
      "description": "Asset by version group",
      "parameters": [
        {
          "name": "groupId",
          "description": "groupId of the asset",
          "required": true,
          "in": "path",
          "schema": {
            "description": "groupId of the asset",
            "type": "string"
          }
        },
        {
          "name": "assetId",
          "description": "assetId of the asset",
          "required": true,
          "in": "path",
          "schema": {
            "description": "assetId of the asset",
            "type": "string"
          }
        },
        {
          "name": "versionGroup",
          "description": "Version group of the asset",
          "required": true,
          "in": "path",
          "schema": {
            "description": "Version group of the asset",
            "type": "string"
          }
        }
      ]
    },
    "/assets/{groupId}/{assetId}/versionGroups/{versionGroup}/apiGroupInstances": {
      "x-amf-displayName": "API Groups Instances",
      "description": "API Groups instances",
      "x-amf-type": "apiGroupInstance",
      "x-amf-is": [
        "pagination"
      ],
      "parameters": [
        {
          "name": "groupId",
          "description": "groupId of the asset",
          "required": true,
          "in": "path",
          "schema": {
            "description": "groupId of the asset",
            "type": "string"
          }
        },
        {
          "name": "assetId",
          "description": "assetId of the asset",
          "required": true,
          "in": "path",
          "schema": {
            "description": "assetId of the asset",
            "type": "string"
          }
        },
        {
          "name": "versionGroup",
          "description": "Version group of the asset",
          "required": true,
          "in": "path",
          "schema": {
            "description": "Version group of the asset",
            "type": "string"
          }
        }
      ]
    },
    "/assets/{groupId}/{assetId}/versionGroups/{versionGroup}/environments/{environmentId}": {
      "x-amf-displayName": "Environment",
      "description": "A single environment identified by an \"environmentId\"",
      "parameters": [
        {
          "name": "groupId",
          "description": "groupId of the asset",
          "required": true,
          "in": "path",
          "schema": {
            "description": "groupId of the asset",
            "type": "string"
          }
        },
        {
          "name": "assetId",
          "description": "assetId of the asset",
          "required": true,
          "in": "path",
          "schema": {
            "description": "assetId of the asset",
            "type": "string"
          }
        },
        {
          "name": "versionGroup",
          "description": "Version group of the asset",
          "required": true,
          "in": "path",
          "schema": {
            "description": "Version group of the asset",
            "type": "string"
          }
        },
        {
          "name": "environmentId",
          "description": "The id of the environment for this API Group instance",
          "required": true,
          "in": "path",
          "schema": {
            "description": "The id of the environment for this API Group instance",
            "type": "string",
            "minLength": 36,
            "maxLength": 36
          }
        }
      ]
    },
    "/assets/{groupId}/{assetId}/versionGroups/{versionGroup}/environments/{environmentId}/apiGroupInstances/{apiGroupInstanceId}": {
      "x-amf-displayName": "Instance",
      "description": "A single API Group instance identified by a \"apiGroupInstanceId\"",
      "parameters": [
        {
          "name": "versionGroup",
          "description": "Version group of the asset",
          "required": true,
          "in": "path",
          "schema": {
            "description": "Version group of the asset",
            "type": "string"
          }
        },
        {
          "name": "assetId",
          "description": "assetId of the asset",
          "required": true,
          "in": "path",
          "schema": {
            "description": "assetId of the asset",
            "type": "string"
          }
        },
        {
          "name": "groupId",
          "description": "groupId of the asset",
          "required": true,
          "in": "path",
          "schema": {
            "description": "groupId of the asset",
            "type": "string"
          }
        },
        {
          "name": "apiGroupInstanceId",
          "description": "Id of an API Group instance",
          "required": true,
          "in": "path",
          "schema": {
            "description": "Id of an API Group instance",
            "type": "integer",
            "minimum": 0
          }
        },
        {
          "name": "environmentId",
          "description": "The id of the environment for this API Group instance",
          "required": true,
          "in": "path",
          "schema": {
            "description": "The id of the environment for this API Group instance",
            "type": "string",
            "minLength": 36,
            "maxLength": 36
          }
        }
      ],
      "patch": {
        "operationId": "Updates API Group Visibility",
        "description": "Updates API Group visibility",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "example": {
                  "isPublic": true
                },
                "type": "object",
                "required": [
                  "isPublic"
                ],
                "properties": {
                  "isPublic": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "API Group visibility successfully updated"
          }
        }
      }
    },
    "/assets/{groupId}/{assetId}/versionGroups/{versionGroup}/environments/{environmentId}/apiGroupInstances/{apiGroupInstanceId}/tiers": {
      "x-amf-displayName": "Instance Tiers",
      "description": "Retrieves a list of tiers for an API Group instance",
      "x-amf-type": "apiGroupTiers",
      "parameters": [
        {
          "name": "versionGroup",
          "description": "Version group of the asset",
          "required": true,
          "in": "path",
          "schema": {
            "description": "Version group of the asset",
            "type": "string"
          }
        },
        {
          "name": "assetId",
          "description": "assetId of the asset",
          "required": true,
          "in": "path",
          "schema": {
            "description": "assetId of the asset",
            "type": "string"
          }
        },
        {
          "name": "groupId",
          "description": "groupId of the asset",
          "required": true,
          "in": "path",
          "schema": {
            "description": "groupId of the asset",
            "type": "string"
          }
        },
        {
          "name": "apiGroupInstanceId",
          "description": "Id of an API Group instance",
          "required": true,
          "in": "path",
          "schema": {
            "description": "Id of an API Group instance",
            "type": "integer",
            "minimum": 0
          }
        },
        {
          "name": "environmentId",
          "description": "The id of the environment for this API Group instance",
          "required": true,
          "in": "path",
          "schema": {
            "description": "The id of the environment for this API Group instance",
            "type": "string",
            "minLength": 36,
            "maxLength": 36
          }
        }
      ]
    },
    "/assets/{groupId}/{assetId}/versionGroups/{versionGroup}/terms": {
      "x-amf-displayName": "Terms and Conditions",
      "description": "Gets underlying API terms and conditions for an asset version group",
      "x-amf-type": "termsAndConditions",
      "parameters": [
        {
          "name": "groupId",
          "description": "groupId of the asset",
          "required": true,
          "in": "path",
          "schema": {
            "description": "groupId of the asset",
            "type": "string"
          }
        },
        {
          "name": "assetId",
          "description": "assetId of the asset",
          "required": true,
          "in": "path",
          "schema": {
            "description": "assetId of the asset",
            "type": "string"
          }
        },
        {
          "name": "versionGroup",
          "description": "Version group of the asset",
          "required": true,
          "in": "path",
          "schema": {
            "description": "Version group of the asset",
            "type": "string"
          }
        }
      ]
    },
    "/assets/{groupId}/{assetId}/versionGroups/{versionGroup}/instances": {
      "x-amf-displayName": "API Instances",
      "description": "A collection of API instances",
      "parameters": [
        {
          "name": "groupId",
          "description": "groupId of the asset",
          "required": true,
          "in": "path",
          "schema": {
            "description": "groupId of the asset",
            "type": "string"
          }
        },
        {
          "name": "assetId",
          "description": "assetId of the asset",
          "required": true,
          "in": "path",
          "schema": {
            "description": "assetId of the asset",
            "type": "string"
          }
        },
        {
          "name": "versionGroup",
          "description": "Version group of the asset",
          "required": true,
          "in": "path",
          "schema": {
            "description": "Version group of the asset",
            "type": "string"
          }
        }
      ],
      "get": {
        "description": "Gets API instances",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "example": [
                    {
                      "id": "3defc266-c001-431c-88d2-7cc83928efca",
                      "groupId": "com.mulesoft",
                      "assetId": "salesforce",
                      "productApiVersion": "v1",
                      "environmentId": "1234",
                      "endpointUri": "https://www.yes.com/dog",
                      "name": "Instance name",
                      "isPublic": true,
                      "type": "external",
                      "createdBy": "e1dd88f8-dG6e-4443-93a1-bd074603e118",
                      "createdDate": "2017-09-22T19:26:00.815Z",
                      "updatedDate": "2017-09-22T19:26:00.815Z",
                      "providerId": "aaf409a9-08c3-4c32-bb66-d6f2e4dba153",
                      "deprecated": false
                    },
                    {
                      "id": "96ccd7af-c88b-40b9-af89-bad8c039a353",
                      "groupId": "com.mulesoft",
                      "assetId": "salesforce",
                      "productApiVersion": "v2",
                      "environmentId": "1234568",
                      "endpointUri": "https://www.no.com/cat",
                      "name": "Another instance name",
                      "isPublic": false,
                      "type": "external",
                      "createdBy": "e1dd88f8-dG6e-4443-93a1-bd074603e118",
                      "createdDate": "2016-12-27T20:47:46.470Z",
                      "updatedDate": "2016-12-27T20:47:46.470Z",
                      "providerId": "aaf409a9-08c3-4c32-bb66-d6f2e4dba153",
                      "deprecated": false
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/assets/{groupId}/{assetId}/versionGroups/{versionGroup}/instances/{apiInstanceId}": {
      "x-amf-displayName": "Instance",
      "description": "A single API instance identified by an \"apiInstanceId\"",
      "parameters": [
        {
          "name": "groupId",
          "description": "groupId of the asset",
          "required": true,
          "in": "path",
          "schema": {
            "description": "groupId of the asset",
            "type": "string"
          }
        },
        {
          "name": "assetId",
          "description": "assetId of the asset",
          "required": true,
          "in": "path",
          "schema": {
            "description": "assetId of the asset",
            "type": "string"
          }
        },
        {
          "name": "versionGroup",
          "description": "Version group of the asset",
          "required": true,
          "in": "path",
          "schema": {
            "description": "Version group of the asset",
            "type": "string"
          }
        },
        {
          "name": "apiInstanceId",
          "description": "The id of the API instance",
          "required": true,
          "in": "path",
          "schema": {
            "description": "The id of the API instance",
            "type": "string"
          }
        }
      ]
    },
    "/assets/{groupId}/{assetId}/versionGroups/{versionGroup}/instances/{apiInstanceId}/relatedApiGroupInstances": {
      "x-amf-displayName": "API Group Instances",
      "description": "API Group instances that include an API instance",
      "parameters": [
        {
          "name": "groupId",
          "description": "groupId of the asset",
          "required": true,
          "in": "path",
          "schema": {
            "description": "groupId of the asset",
            "type": "string"
          }
        },
        {
          "name": "assetId",
          "description": "assetId of the asset",
          "required": true,
          "in": "path",
          "schema": {
            "description": "assetId of the asset",
            "type": "string"
          }
        },
        {
          "name": "versionGroup",
          "description": "Version group of the asset",
          "required": true,
          "in": "path",
          "schema": {
            "description": "Version group of the asset",
            "type": "string"
          }
        },
        {
          "name": "apiInstanceId",
          "description": "id of the api instance",
          "required": true,
          "in": "path",
          "schema": {
            "description": "id of the api instance",
            "type": "string"
          }
        }
      ],
      "get": {
        "description": "Gets API group instances that include an API instance",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "example": [
                    {
                      "id": 266126,
                      "organizationId": "930f973d-e5a7-4e48-acfa-3b30de06f98d",
                      "groupId": "930f973d-e5a7-4e48-acfa-3b30de06f98d",
                      "assetId": "social-media",
                      "version": "1.0.0",
                      "isPublic": true
                    },
                    {
                      "id": 266127,
                      "organizationId": "930f973d-e5a7-4e48-acfa-3b30de06f98d",
                      "groupId": "930f973d-e5a7-4e48-acfa-3b30de06f98d",
                      "assetId": "social-media",
                      "version": "2.0.0",
                      "isPublic": false
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/assets/{groupId}/{assetId}/versionGroups/{versionGroup}/instances/{apiInstanceId}/tiers": {
      "x-amf-displayName": "Instance Tiers",
      "description": "A collection of the available SLA Tiers for a given API instance",
      "x-amf-type": "tiers",
      "parameters": [
        {
          "name": "groupId",
          "description": "groupId of the asset",
          "required": true,
          "in": "path",
          "schema": {
            "description": "groupId of the asset",
            "type": "string"
          }
        },
        {
          "name": "assetId",
          "description": "assetId of the asset",
          "required": true,
          "in": "path",
          "schema": {
            "description": "assetId of the asset",
            "type": "string"
          }
        },
        {
          "name": "versionGroup",
          "description": "Version group of the asset",
          "required": true,
          "in": "path",
          "schema": {
            "description": "Version group of the asset",
            "type": "string"
          }
        },
        {
          "name": "apiInstanceId",
          "description": "The id of the API instance",
          "required": true,
          "in": "path",
          "schema": {
            "description": "The id of the API instance",
            "type": "string"
          }
        }
      ]
    },
    "/assets/{groupId}/{assetId}/versionGroups/{versionGroup}/instances/evented-apis": {
      "x-amf-displayName": "Evented APIs",
      "description": "Evented APIs",
      "parameters": [
        {
          "name": "groupId",
          "description": "groupId of the asset",
          "required": true,
          "in": "path",
          "schema": {
            "description": "groupId of the asset",
            "type": "string"
          }
        },
        {
          "name": "assetId",
          "description": "assetId of the asset",
          "required": true,
          "in": "path",
          "schema": {
            "description": "assetId of the asset",
            "type": "string"
          }
        },
        {
          "name": "versionGroup",
          "description": "Version group of the asset",
          "required": true,
          "in": "path",
          "schema": {
            "description": "Version group of the asset",
            "type": "string"
          }
        }
      ]
    },
    "/assets/{groupId}/{assetId}/versionGroups/{versionGroup}/instances/evented-apis/external": {
      "x-amf-displayName": "External Instances",
      "description": "Evented API External instances",
      "parameters": [
        {
          "name": "groupId",
          "description": "groupId of the asset",
          "required": true,
          "in": "path",
          "schema": {
            "description": "groupId of the asset",
            "type": "string"
          }
        },
        {
          "name": "assetId",
          "description": "assetId of the asset",
          "required": true,
          "in": "path",
          "schema": {
            "description": "assetId of the asset",
            "type": "string"
          }
        },
        {
          "name": "versionGroup",
          "description": "Version group of the asset",
          "required": true,
          "in": "path",
          "schema": {
            "description": "Version group of the asset",
            "type": "string"
          }
        }
      ],
      "post": {
        "operationId": "Creates new instance",
        "description": "Creates a new external API instance for an evented API",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "example": {
                  "name": "Production - US",
                  "endpointUri": "http://dog.domain.tld.com/much/doge",
                  "isPublic": true
                },
                "type": "object",
                "required": [
                  "endpointUri",
                  "name"
                ],
                "properties": {
                  "endpointUri": {
                    "type": "string",
                    "maxLength": 2048
                  },
                  "isPublic": {
                    "type": "boolean"
                  },
                  "name": {
                    "type": "string",
                    "maxLength": 150
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "id": "3defc266-c001-431c-88d2-7cc83928efca",
                    "groupId": "com.mulesoft",
                    "assetId": "salesforce",
                    "productApiVersion": "v1",
                    "environmentId": "1234",
                    "providerId": "ed687558-f86e-465f-bf88-45c989f0c2ad",
                    "name": "Instance name",
                    "endpointUri": "https://www.yes.com/dog",
                    "createdBy": "e1dd88f8-dG6e-4443-93a1-bd074603e118",
                    "createdDate": "2017-09-22T19:26:00.815Z",
                    "updatedDate": "2017-09-22T19:26:00.815Z",
                    "isPublic": true,
                    "type": "external"
                  },
                  "type": "object",
                  "required": [
                    "id",
                    "groupId",
                    "assetId",
                    "productApiVersion",
                    "isPublic",
                    "type",
                    "endpointUri",
                    "name"
                  ],
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "groupId": {
                      "type": "string",
                      "maxLength": 256
                    },
                    "assetId": {
                      "type": "string",
                      "maxLength": 256
                    },
                    "productApiVersion": {
                      "type": "string",
                      "maxLength": 128
                    },
                    "isPublic": {
                      "type": "boolean"
                    },
                    "type": {
                      "enum": [
                        "external",
                        "managed",
                        "mocked"
                      ]
                    },
                    "endpointUri": {
                      "type": "string",
                      "maxLength": 2048
                    },
                    "name": {
                      "type": "string",
                      "maxLength": 150
                    },
                    "organizationId": {
                      "type": "string",
                      "maxLength": 256
                    },
                    "createdBy": {
                      "type": "string"
                    },
                    "createdDate": {
                      "type": "string"
                    },
                    "updatedDate": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/assets/{groupId}/{assetId}/versionGroups/{versionGroup}/instances/evented-apis/external/{id}": {
      "x-amf-displayName": "Instance Id",
      "description": "A single instance for an evented API",
      "parameters": [
        {
          "name": "groupId",
          "description": "groupId of the asset",
          "required": true,
          "in": "path",
          "schema": {
            "description": "groupId of the asset",
            "type": "string"
          }
        },
        {
          "name": "assetId",
          "description": "assetId of the asset",
          "required": true,
          "in": "path",
          "schema": {
            "description": "assetId of the asset",
            "type": "string"
          }
        },
        {
          "name": "versionGroup",
          "description": "Version group of the asset",
          "required": true,
          "in": "path",
          "schema": {
            "description": "Version group of the asset",
            "type": "string"
          }
        },
        {
          "name": "id",
          "description": "Id of the external instance",
          "required": true,
          "in": "path",
          "schema": {
            "description": "Id of the external instance",
            "example": "7a7190da-29f3-451a-b2b2-ebd6f7e1f8ea",
            "type": "string",
            "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"
          }
        }
      ],
      "patch": {
        "operationId": "Updates an instance",
        "description": "Updates an existing external API instance",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "example": {
                  "name": "Production - US",
                  "endpointUri": "http://dog.domain.tld.com/much/doge",
                  "isPublic": true
                },
                "type": "object",
                "properties": {
                  "endpointUri": {
                    "type": "string",
                    "maxLength": 2048
                  },
                  "isPublic": {
                    "type": "boolean"
                  },
                  "name": {
                    "type": "string",
                    "maxLength": 150
                  }
                }
              }
            }
          }
        },
        "responses": {
          "404": {
            "description": "External instance not found"
          },
          "204": {
            "description": "External instance updated"
          }
        }
      }
    },
    "/assets/{groupId}/{assetId}/versionGroups/{versionGroup}/instances/external": {
      "x-amf-displayName": "External Instances",
      "description": "External instances",
      "parameters": [
        {
          "name": "groupId",
          "description": "groupId of the asset",
          "required": true,
          "in": "path",
          "schema": {
            "description": "groupId of the asset",
            "type": "string"
          }
        },
        {
          "name": "assetId",
          "description": "assetId of the asset",
          "required": true,
          "in": "path",
          "schema": {
            "description": "assetId of the asset",
            "type": "string"
          }
        },
        {
          "name": "versionGroup",
          "description": "Version group of the asset",
          "required": true,
          "in": "path",
          "schema": {
            "description": "Version group of the asset",
            "type": "string"
          }
        }
      ],
      "post": {
        "operationId": "Creates new instance",
        "description": "Creates a new external API instance",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "example": {
                  "name": "Production - US",
                  "endpointUri": "http://dog.domain.tld.com/much/doge",
                  "isPublic": true
                },
                "type": "object",
                "required": [
                  "endpointUri",
                  "name"
                ],
                "properties": {
                  "endpointUri": {
                    "type": "string",
                    "maxLength": 2048
                  },
                  "isPublic": {
                    "type": "boolean"
                  },
                  "name": {
                    "type": "string",
                    "maxLength": 150
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "id": "3defc266-c001-431c-88d2-7cc83928efca",
                    "groupId": "com.mulesoft",
                    "assetId": "salesforce",
                    "productApiVersion": "v1",
                    "environmentId": "1234",
                    "providerId": "ed687558-f86e-465f-bf88-45c989f0c2ad",
                    "name": "Instance name",
                    "endpointUri": "https://www.yes.com/dog",
                    "createdBy": "e1dd88f8-dG6e-4443-93a1-bd074603e118",
                    "createdDate": "2017-09-22T19:26:00.815Z",
                    "updatedDate": "2017-09-22T19:26:00.815Z",
                    "isPublic": true,
                    "type": "external"
                  },
                  "type": "object",
                  "required": [
                    "id",
                    "groupId",
                    "assetId",
                    "productApiVersion",
                    "isPublic",
                    "type",
                    "endpointUri",
                    "name"
                  ],
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "groupId": {
                      "type": "string",
                      "maxLength": 256
                    },
                    "assetId": {
                      "type": "string",
                      "maxLength": 256
                    },
                    "productApiVersion": {
                      "type": "string",
                      "maxLength": 128
                    },
                    "isPublic": {
                      "type": "boolean"
                    },
                    "type": {
                      "enum": [
                        "external",
                        "managed",
                        "mocked"
                      ]
                    },
                    "endpointUri": {
                      "type": "string",
                      "maxLength": 2048
                    },
                    "name": {
                      "type": "string",
                      "maxLength": 150
                    },
                    "organizationId": {
                      "type": "string",
                      "maxLength": 256
                    },
                    "createdBy": {
                      "type": "string"
                    },
                    "createdDate": {
                      "type": "string"
                    },
                    "updatedDate": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/assets/{groupId}/{assetId}/versionGroups/{versionGroup}/instances/external/{id}": {
      "x-amf-displayName": "Instance Id",
      "description": "A single instance",
      "parameters": [
        {
          "name": "groupId",
          "description": "groupId of the asset",
          "required": true,
          "in": "path",
          "schema": {
            "description": "groupId of the asset",
            "type": "string"
          }
        },
        {
          "name": "assetId",
          "description": "assetId of the asset",
          "required": true,
          "in": "path",
          "schema": {
            "description": "assetId of the asset",
            "type": "string"
          }
        },
        {
          "name": "versionGroup",
          "description": "Version group of the asset",
          "required": true,
          "in": "path",
          "schema": {
            "description": "Version group of the asset",
            "type": "string"
          }
        },
        {
          "name": "id",
          "description": "Id of the external instance",
          "required": true,
          "in": "path",
          "schema": {
            "description": "Id of the external instance",
            "example": "7a7190da-29f3-451a-b2b2-ebd6f7e1f8ea",
            "type": "string",
            "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"
          }
        }
      ],
      "patch": {
        "operationId": "Updates an instance",
        "description": "Updates an existing external API instance",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "example": {
                  "name": "Production - US",
                  "endpointUri": "http://dog.domain.tld.com/much/doge",
                  "isPublic": true
                },
                "type": "object",
                "properties": {
                  "endpointUri": {
                    "type": "string",
                    "maxLength": 2048
                  },
                  "isPublic": {
                    "type": "boolean"
                  },
                  "name": {
                    "type": "string",
                    "maxLength": 150
                  }
                }
              }
            }
          }
        },
        "responses": {
          "404": {
            "description": "External instance not found"
          },
          "204": {
            "description": "External instance updated"
          }
        }
      },
      "delete": {
        "description": "Deletes an existing external API instance",
        "responses": {
          "404": {
            "description": "External instance not found"
          },
          "204": {
            "description": "External instance deleted"
          }
        }
      }
    },
    "/assets/{groupId}/{assetId}/versionGroups/{versionGroup}/instances/managed": {
      "x-amf-displayName": "Managed Instances",
      "description": "Managed instances",
      "parameters": [
        {
          "name": "groupId",
          "description": "groupId of the asset",
          "required": true,
          "in": "path",
          "schema": {
            "description": "groupId of the asset",
            "type": "string"
          }
        },
        {
          "name": "assetId",
          "description": "assetId of the asset",
          "required": true,
          "in": "path",
          "schema": {
            "description": "assetId of the asset",
            "type": "string"
          }
        },
        {
          "name": "versionGroup",
          "description": "Version group of the asset",
          "required": true,
          "in": "path",
          "schema": {
            "description": "Version group of the asset",
            "type": "string"
          }
        }
      ]
    },
    "/assets/{groupId}/{assetId}/versionGroups/{versionGroup}/instances/managed/{id}": {
      "x-amf-displayName": "Instance Id",
      "description": "A single managed instance",
      "parameters": [
        {
          "name": "groupId",
          "description": "groupId of the asset",
          "required": true,
          "in": "path",
          "schema": {
            "description": "groupId of the asset",
            "type": "string"
          }
        },
        {
          "name": "assetId",
          "description": "assetId of the asset",
          "required": true,
          "in": "path",
          "schema": {
            "description": "assetId of the asset",
            "type": "string"
          }
        },
        {
          "name": "versionGroup",
          "description": "Version group of the asset",
          "required": true,
          "in": "path",
          "schema": {
            "description": "Version group of the asset",
            "type": "string"
          }
        },
        {
          "name": "id",
          "description": "Id of the managed instance",
          "required": true,
          "in": "path",
          "schema": {
            "description": "Id of the managed instance",
            "example": "9897",
            "type": "string"
          }
        }
      ],
      "patch": {
        "operationId": "Updates an instance",
        "description": "Updates an existing managed API instance",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "example": {
                  "name": "Production - US",
                  "endpointUri": "http://dog.domain.tld.com/much/doge",
                  "isPublic": true
                },
                "type": "object",
                "properties": {
                  "endpointUri": {
                    "type": "string",
                    "maxLength": 2048
                  },
                  "isPublic": {
                    "type": "boolean"
                  },
                  "name": {
                    "type": "string",
                    "maxLength": 150
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Managed instance updated"
          },
          "404": {
            "description": "Managed instance not found"
          }
        }
      }
    },
    "/assets/{groupId}/{assetId}/identities": {
      "x-amf-displayName": "Identities",
      "description": "Identities assigned to an asset with their role",
      "x-amf-type": "identitiesWithRole",
      "parameters": [
        {
          "name": "groupId",
          "description": "groupId of the asset",
          "required": true,
          "in": "path",
          "schema": {
            "description": "groupId of the asset",
            "type": "string"
          }
        },
        {
          "name": "assetId",
          "description": "assetId of the asset",
          "required": true,
          "in": "path",
          "schema": {
            "description": "assetId of the asset",
            "type": "string"
          }
        }
      ]
    },
    "/assets/{groupId}/{assetId}/domain": {
      "x-amf-displayName": "Domain",
      "description": "Allowed domain for the asset",
      "x-amf-type": "domain",
      "parameters": [
        {
          "name": "groupId",
          "description": "groupId of the asset",
          "required": true,
          "in": "path",
          "schema": {
            "description": "groupId of the asset",
            "type": "string"
          }
        },
        {
          "name": "assetId",
          "description": "assetId of the asset",
          "required": true,
          "in": "path",
          "schema": {
            "description": "assetId of the asset",
            "type": "string"
          }
        }
      ]
    },
    "/assets/{groupId}/{assetId}/{version}": {
      "x-amf-displayName": "Asset Version",
      "description": "Asset version",
      "parameters": [
        {
          "name": "groupId",
          "description": "groupId of the asset",
          "required": true,
          "in": "path",
          "schema": {
            "description": "groupId of the asset",
            "type": "string"
          }
        },
        {
          "name": "assetId",
          "description": "assetId of the asset",
          "required": true,
          "in": "path",
          "schema": {
            "description": "assetId of the asset",
            "type": "string"
          }
        },
        {
          "name": "version",
          "description": "version of the asset",
          "required": true,
          "in": "path",
          "schema": {
            "description": "version of the asset",
            "example": "2.22.45",
            "type": "string",
            "pattern": "^v{0,1}(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$"
          }
        }
      ],
      "delete": {
        "description": "Deletes an asset by its ID",
        "x-amf-is": [
          "deleteable"
        ],
        "responses": {
          "204": {
            "description": "Asset deleted"
          },
          "409": {
            "description": "There were conflicts while deleting"
          }
        }
      }
    },
    "/assets/{groupId}/{assetId}/{version}/asset": {
      "x-amf-displayName": "Asset",
      "description": "Asset",
      "x-amf-type": "simpleAsset",
      "parameters": [
        {
          "name": "groupId",
          "description": "groupId of the asset",
          "required": true,
          "in": "path",
          "schema": {
            "description": "groupId of the asset",
            "type": "string"
          }
        },
        {
          "name": "assetId",
          "description": "assetId of the asset",
          "required": true,
          "in": "path",
          "schema": {
            "description": "assetId of the asset",
            "type": "string"
          }
        },
        {
          "name": "version",
          "description": "version of the asset",
          "required": true,
          "in": "path",
          "schema": {
            "description": "version of the asset",
            "example": "2.22.45",
            "type": "string",
            "pattern": "^v{0,1}(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$"
          }
        }
      ]
    },
    "/assets/{groupId}/{assetId}/{version}/rating": {
      "x-amf-displayName": "Rating",
      "description": "Rating of the asset",
      "x-amf-type": "rating",
      "parameters": [
        {
          "name": "groupId",
          "description": "groupId of the asset",
          "required": true,
          "in": "path",
          "schema": {
            "description": "groupId of the asset",
            "type": "string"
          }
        },
        {
          "name": "assetId",
          "description": "assetId of the asset",
          "required": true,
          "in": "path",
          "schema": {
            "description": "assetId of the asset",
            "type": "string"
          }
        },
        {
          "name": "version",
          "description": "version of the asset",
          "required": true,
          "in": "path",
          "schema": {
            "description": "version of the asset",
            "example": "2.22.45",
            "type": "string",
            "pattern": "^v{0,1}(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$"
          }
        }
      ]
    },
    "/assets/{groupId}/{assetId}/{version}/reviews": {
      "x-amf-displayName": "Reviews",
      "description": "Reviews of the asset",
      "x-amf-type": "reviews",
      "parameters": [
        {
          "name": "groupId",
          "description": "groupId of the asset",
          "required": true,
          "in": "path",
          "schema": {
            "description": "groupId of the asset",
            "type": "string"
          }
        },
        {
          "name": "assetId",
          "description": "assetId of the asset",
          "required": true,
          "in": "path",
          "schema": {
            "description": "assetId of the asset",
            "type": "string"
          }
        },
        {
          "name": "version",
          "description": "version of the asset",
          "required": true,
          "in": "path",
          "schema": {
            "description": "version of the asset",
            "example": "2.22.45",
            "type": "string",
            "pattern": "^v{0,1}(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$"
          }
        }
      ]
    },
    "/assets/{groupId}/{assetId}/{version}/reviews/{reviewId}": {
      "x-amf-displayName": "Review",
      "description": "A single asset review identified by a \"reviewId\"",
      "x-amf-type": "review",
      "parameters": [
        {
          "name": "groupId",
          "description": "groupId of the asset",
          "required": true,
          "in": "path",
          "schema": {
            "description": "groupId of the asset",
            "type": "string"
          }
        },
        {
          "name": "assetId",
          "description": "assetId of the asset",
          "required": true,
          "in": "path",
          "schema": {
            "description": "assetId of the asset",
            "type": "string"
          }
        },
        {
          "name": "version",
          "description": "version of the asset",
          "required": true,
          "in": "path",
          "schema": {
            "description": "version of the asset",
            "example": "2.22.45",
            "type": "string",
            "pattern": "^v{0,1}(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$"
          }
        },
        {
          "name": "reviewId",
          "description": "Id of the review. It is a UUID.",
          "required": true,
          "in": "path",
          "schema": {
            "description": "Id of the review. It is a UUID.",
            "example": "7a7190da-29f3-451a-b2b2-ebd6f7e1f8ea",
            "type": "string",
            "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"
          }
        }
      ]
    },
    "/assets/{groupId}/{assetId}/{version}/api": {
      "x-amf-displayName": "API",
      "description": "API",
      "parameters": [
        {
          "name": "groupId",
          "description": "groupId of the asset",
          "required": true,
          "in": "path",
          "schema": {
            "description": "groupId of the asset",
            "type": "string"
          }
        },
        {
          "name": "assetId",
          "description": "assetId of the asset",
          "required": true,
          "in": "path",
          "schema": {
            "description": "assetId of the asset",
            "type": "string"
          }
        },
        {
          "name": "version",
          "description": "version of the asset",
          "required": true,
          "in": "path",
          "schema": {
            "description": "version of the asset",
            "example": "2.22.45",
            "type": "string",
            "pattern": "^v{0,1}(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$"
          }
        }
      ]
    },
    "/assets/{groupId}/{assetId}/{version}/api/model": {
      "x-amf-displayName": "API Model",
      "description": "API Model",
      "parameters": [
        {
          "name": "groupId",
          "description": "groupId of the asset",
          "required": true,
          "in": "path",
          "schema": {
            "description": "groupId of the asset",
            "type": "string"
          }
        },
        {
          "name": "assetId",
          "description": "assetId of the asset",
          "required": true,
          "in": "path",
          "schema": {
            "description": "assetId of the asset",
            "type": "string"
          }
        },
        {
          "name": "version",
          "description": "version of the asset",
          "required": true,
          "in": "path",
          "schema": {
            "description": "version of the asset",
            "example": "2.22.45",
            "type": "string",
            "pattern": "^v{0,1}(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$"
          }
        }
      ],
      "get": {
        "description": "Gets the JSON-LD model for this API",
        "responses": {
          "200": {
            "description": "Returns the JSON-LD model for this API",
            "content": {
              "application/json": {
                "schema": {
                  "example": {
                    "value": [
                      {
                        "@id": "valkyr-for-humans-api.raml",
                        "@type": [
                          "http://raml.org/vocabularies/document#Document",
                          "http://raml.org/vocabularies/document#Fragment",
                          "http://raml.org/vocabularies/document#Module",
                          "http://raml.org/vocabularies/document#Unit"
                        ],
                        "http://raml.org/vocabularies/document#encodes": [
                          {
                            "@id": "valkyr-for-humans-api.raml#/web-api",
                            "@type": [
                              "http://schema.org/WebAPI",
                              "http://raml.org/vocabularies/document#RootDomainElement",
                              "http://raml.org/vocabularies/document#DomainElement"
                            ],
                            "http://schema.org/name": [
                              {
                                "@value": "Valkyr for Humans API"
                              }
                            ],
                            "http://schema.org/version": [
                              {
                                "@value": "v1"
                              }
                            ],
                            "http://raml.org/vocabularies/http#endpoint": [
                              {
                                "@id": "valkyr-for-humans-api.raml#/web-api/end-points/%2Fservice",
                                "@type": [
                                  "http://raml.org/vocabularies/http#EndPoint",
                                  "http://raml.org/vocabularies/document#DomainElement"
                                ],
                                "http://raml.org/vocabularies/http#path": [
                                  {
                                    "@value": "/service"
                                  }
                                ],
                                "http://www.w3.org/ns/hydra/core#supportedOperation": [
                                  {
                                    "@id": "valkyr-for-humans-api.raml#/web-api/end-points/%2Fservice/post",
                                    "@type": [
                                      "http://www.w3.org/ns/hydra/core#Operation",
                                      "http://raml.org/vocabularies/document#DomainElement"
                                    ],
                                    "http://www.w3.org/ns/hydra/core#method": [
                                      {
                                        "@value": "post"
                                      }
                                    ],
                                    "http://www.w3.org/ns/hydra/core#expects": [
                                      {
                                        "@id": "valkyr-for-humans-api.raml#/web-api/end-points/%2Fservice/post/request",
                                        "@type": [
                                          "http://raml.org/vocabularies/http#Request",
                                          "http://raml.org/vocabularies/document#DomainElement"
                                        ],
                                        "http://raml.org/vocabularies/http#payload": [
                                          {
                                            "@id": "valkyr-for-humans-api.raml#/web-api/end-points/%2Fservice/post/request/application/json",
                                            "@type": [
                                              "http://raml.org/vocabularies/http#Payload",
                                              "http://raml.org/vocabularies/document#DomainElement"
                                            ],
                                            "http://raml.org/vocabularies/http#mediaType": [
                                              {
                                                "@value": "application/json"
                                              }
                                            ],
                                            "http://raml.org/vocabularies/http#schema": [
                                              {
                                                "@id": "valkyr-for-humans-api.raml#/web-api/end-points/%2Fservice/post/request/application/json/schema",
                                                "@type": [
                                                  "http://www.w3.org/ns/shacl#NodeShape",
                                                  "http://www.w3.org/ns/shacl#Shape",
                                                  "http://raml.org/vocabularies/shapes#Shape",
                                                  "http://raml.org/vocabularies/document#DomainElement"
                                                ],
                                                "http://www.w3.org/ns/shacl#closed": [
                                                  {
                                                    "@value": false
                                                  }
                                                ],
                                                "http://www.w3.org/ns/shacl#property": [
                                                  {
                                                    "@id": "valkyr-for-humans-api.raml#/web-api/end-points/%2Fservice/post/request/application/json/schema/property/product",
                                                    "@type": [
                                                      "http://www.w3.org/ns/shacl#PropertyShape",
                                                      "http://www.w3.org/ns/shacl#Shape",
                                                      "http://raml.org/vocabularies/shapes#Shape"
                                                    ],
                                                    "http://www.w3.org/ns/shacl#path": [
                                                      {
                                                        "@id": "http://raml.org/vocabularies/data#product"
                                                      }
                                                    ],
                                                    "http://raml.org/vocabularies/shapes#range": [
                                                      {
                                                        "@id": "valkyr-for-humans-api.raml#/web-api/end-points/%2Fservice/post/request/application/json/schema/property/product/scalar/product",
                                                        "@type": [
                                                          "http://raml.org/vocabularies/shapes#ScalarShape",
                                                          "http://www.w3.org/ns/shacl#Shape",
                                                          "http://raml.org/vocabularies/shapes#Shape",
                                                          "http://raml.org/vocabularies/document#DomainElement"
                                                        ],
                                                        "http://www.w3.org/ns/shacl#datatype": [
                                                          {
                                                            "@id": "http://www.w3.org/2001/XMLSchema#string"
                                                          }
                                                        ],
                                                        "http://www.w3.org/ns/shacl#name": [
                                                          {
                                                            "@value": "product"
                                                          }
                                                        ]
                                                      }
                                                    ],
                                                    "http://www.w3.org/ns/shacl#minCount": [
                                                      {
                                                        "@value": 1
                                                      }
                                                    ],
                                                    "http://www.w3.org/ns/shacl#name": [
                                                      {
                                                        "@value": "product"
                                                      }
                                                    ]
                                                  },
                                                  {
                                                    "@id": "valkyr-for-humans-api.raml#/web-api/end-points/%2Fservice/post/request/application/json/schema/property/component",
                                                    "@type": [
                                                      "http://www.w3.org/ns/shacl#PropertyShape",
                                                      "http://www.w3.org/ns/shacl#Shape",
                                                      "http://raml.org/vocabularies/shapes#Shape"
                                                    ],
                                                    "http://www.w3.org/ns/shacl#path": [
                                                      {
                                                        "@id": "http://raml.org/vocabularies/data#component"
                                                      }
                                                    ],
                                                    "http://raml.org/vocabularies/shapes#range": [
                                                      {
                                                        "@id": "valkyr-for-humans-api.raml#/web-api/end-points/%2Fservice/post/request/application/json/schema/property/component/scalar/component",
                                                        "@type": [
                                                          "http://raml.org/vocabularies/shapes#ScalarShape",
                                                          "http://www.w3.org/ns/shacl#Shape",
                                                          "http://raml.org/vocabularies/shapes#Shape",
                                                          "http://raml.org/vocabularies/document#DomainElement"
                                                        ],
                                                        "http://www.w3.org/ns/shacl#datatype": [
                                                          {
                                                            "@id": "http://www.w3.org/2001/XMLSchema#string"
                                                          }
                                                        ],
                                                        "http://www.w3.org/ns/shacl#name": [
                                                          {
                                                            "@value": "component"
                                                          }
                                                        ]
                                                      }
                                                    ],
                                                    "http://www.w3.org/ns/shacl#minCount": [
                                                      {
                                                        "@value": 1
                                                      }
                                                    ],
                                                    "http://www.w3.org/ns/shacl#name": [
                                                      {
                                                        "@value": "component"
                                                      }
                                                    ]
                                                  }
                                                ],
                                                "http://www.w3.org/ns/shacl#name": [
                                                  {
                                                    "@value": "Service"
                                                  }
                                                ]
                                              }
                                            ]
                                          }
                                        ]
                                      }
                                    ],
                                    "http://www.w3.org/ns/hydra/core#returns": [
                                      {
                                        "@id": "valkyr-for-humans-api.raml#/web-api/end-points/%2Fservice/post/201",
                                        "@type": [
                                          "http://raml.org/vocabularies/http#Response",
                                          "http://raml.org/vocabularies/document#DomainElement"
                                        ],
                                        "http://schema.org/name": [
                                          {
                                            "@value": "201"
                                          }
                                        ],
                                        "http://www.w3.org/ns/hydra/core#statusCode": [
                                          {
                                            "@value": "201"
                                          }
                                        ],
                                        "http://raml.org/vocabularies/http#payload": [
                                          {
                                            "@id": "valkyr-for-humans-api.raml#/web-api/end-points/%2Fservice/post/201/application/json",
                                            "@type": [
                                              "http://raml.org/vocabularies/http#Payload",
                                              "http://raml.org/vocabularies/document#DomainElement"
                                            ],
                                            "http://raml.org/vocabularies/http#mediaType": [
                                              {
                                                "@value": "application/json"
                                              }
                                            ],
                                            "http://raml.org/vocabularies/http#schema": [
                                              {
                                                "@id": "valkyr-for-humans-api.raml#/web-api/end-points/%2Fservice/post/201/application/json/any/schema",
                                                "@type": [
                                                  "http://raml.org/vocabularies/shapes#AnyShape",
                                                  "http://www.w3.org/ns/shacl#Shape",
                                                  "http://raml.org/vocabularies/shapes#Shape"
                                                ],
                                                "http://www.w3.org/ns/shacl#name": [
                                                  {
                                                    "@value": "schema"
                                                  }
                                                ]
                                              }
                                            ]
                                          }
                                        ]
                                      },
                                      {
                                        "@id": "valkyr-for-humans-api.raml#/web-api/end-points/%2Fservice/post/409",
                                        "@type": [
                                          "http://raml.org/vocabularies/http#Response",
                                          "http://raml.org/vocabularies/document#DomainElement"
                                        ],
                                        "http://schema.org/name": [
                                          {
                                            "@value": "409"
                                          }
                                        ],
                                        "http://www.w3.org/ns/hydra/core#statusCode": [
                                          {
                                            "@value": "409"
                                          }
                                        ]
                                      }
                                    ]
                                  },
                                  {
                                    "@id": "valkyr-for-humans-api.raml#/web-api/end-points/%2Fservice/delete",
                                    "@type": [
                                      "http://www.w3.org/ns/hydra/core#Operation",
                                      "http://raml.org/vocabularies/document#DomainElement"
                                    ],
                                    "http://www.w3.org/ns/hydra/core#method": [
                                      {
                                        "@value": "delete"
                                      }
                                    ],
                                    "http://www.w3.org/ns/hydra/core#returns": [
                                      {
                                        "@id": "valkyr-for-humans-api.raml#/web-api/end-points/%2Fservice/delete/204",
                                        "@type": [
                                          "http://raml.org/vocabularies/http#Response",
                                          "http://raml.org/vocabularies/document#DomainElement"
                                        ],
                                        "http://schema.org/name": [
                                          {
                                            "@value": "204"
                                          }
                                        ],
                                        "http://www.w3.org/ns/hydra/core#statusCode": [
                                          {
                                            "@value": "204"
                                          }
                                        ]
                                      }
                                    ]
                                  }
                                ]
                              }
                            ]
                          }
                        ],
                        "http://raml.org/vocabularies/document#declares": [
                          {
                            "@id": "types/Service.raml/type",
                            "@type": [
                              "http://www.w3.org/ns/shacl#NodeShape",
                              "http://www.w3.org/ns/shacl#Shape",
                              "http://raml.org/vocabularies/shapes#Shape",
                              "http://raml.org/vocabularies/document#DomainElement"
                            ],
                            "http://www.w3.org/ns/shacl#closed": [
                              {
                                "@value": false
                              }
                            ],
                            "http://www.w3.org/ns/shacl#property": [
                              {
                                "@id": "types/Service.raml/type/property/product",
                                "@type": [
                                  "http://www.w3.org/ns/shacl#PropertyShape",
                                  "http://www.w3.org/ns/shacl#Shape",
                                  "http://raml.org/vocabularies/shapes#Shape"
                                ],
                                "http://www.w3.org/ns/shacl#path": [
                                  {
                                    "@id": "http://raml.org/vocabularies/data#product"
                                  }
                                ],
                                "http://raml.org/vocabularies/shapes#range": [
                                  {
                                    "@id": "types/Service.raml/type/property/product/scalar/product",
                                    "@type": [
                                      "http://raml.org/vocabularies/shapes#ScalarShape",
                                      "http://www.w3.org/ns/shacl#Shape",
                                      "http://raml.org/vocabularies/shapes#Shape",
                                      "http://raml.org/vocabularies/document#DomainElement"
                                    ],
                                    "http://www.w3.org/ns/shacl#datatype": [
                                      {
                                        "@id": "http://www.w3.org/2001/XMLSchema#string"
                                      }
                                    ],
                                    "http://www.w3.org/ns/shacl#name": [
                                      {
                                        "@value": "product"
                                      }
                                    ]
                                  }
                                ],
                                "http://www.w3.org/ns/shacl#minCount": [
                                  {
                                    "@value": 1
                                  }
                                ],
                                "http://www.w3.org/ns/shacl#name": [
                                  {
                                    "@value": "product"
                                  }
                                ]
                              },
                              {
                                "@id": "types/Service.raml/type/property/component",
                                "@type": [
                                  "http://www.w3.org/ns/shacl#PropertyShape",
                                  "http://www.w3.org/ns/shacl#Shape",
                                  "http://raml.org/vocabularies/shapes#Shape"
                                ],
                                "http://www.w3.org/ns/shacl#path": [
                                  {
                                    "@id": "http://raml.org/vocabularies/data#component"
                                  }
                                ],
                                "http://raml.org/vocabularies/shapes#range": [
                                  {
                                    "@id": "types/Service.raml/type/property/component/scalar/component",
                                    "@type": [
                                      "http://raml.org/vocabularies/shapes#ScalarShape",
                                      "http://www.w3.org/ns/shacl#Shape",
                                      "http://raml.org/vocabularies/shapes#Shape",
                                      "http://raml.org/vocabularies/document#DomainElement"
                                    ],
                                    "http://www.w3.org/ns/shacl#datatype": [
                                      {
                                        "@id": "http://www.w3.org/2001/XMLSchema#string"
                                      }
                                    ],
                                    "http://www.w3.org/ns/shacl#name": [
                                      {
                                        "@value": "component"
                                      }
                                    ]
                                  }
                                ],
                                "http://www.w3.org/ns/shacl#minCount": [
                                  {
                                    "@value": 1
                                  }
                                ],
                                "http://www.w3.org/ns/shacl#name": [
                                  {
                                    "@value": "component"
                                  }
                                ]
                              }
                            ],
                            "http://www.w3.org/ns/shacl#name": [
                              {
                                "@value": "Service"
                              }
                            ]
                          }
                        ],
                        "http://raml.org/vocabularies/document#references": [
                          {
                            "@id": "types/Service.raml",
                            "@type": [
                              "http://raml.org/vocabularies/document#DataType",
                              "http://raml.org/vocabularies/document#Fragment",
                              "http://raml.org/vocabularies/document#Unit"
                            ],
                            "http://raml.org/vocabularies/document#encodes": [
                              {
                                "@id": "types/Service.raml/type",
                                "@type": [
                                  "http://www.w3.org/ns/shacl#NodeShape",
                                  "http://www.w3.org/ns/shacl#Shape",
                                  "http://raml.org/vocabularies/shapes#Shape",
                                  "http://raml.org/vocabularies/document#DomainElement"
                                ],
                                "http://www.w3.org/ns/shacl#closed": [
                                  {
                                    "@value": false
                                  }
                                ],
                                "http://www.w3.org/ns/shacl#property": [
                                  {
                                    "@id": "types/Service.raml/type/property/product",
                                    "@type": [
                                      "http://www.w3.org/ns/shacl#PropertyShape",
                                      "http://www.w3.org/ns/shacl#Shape",
                                      "http://raml.org/vocabularies/shapes#Shape"
                                    ],
                                    "http://www.w3.org/ns/shacl#path": [
                                      {
                                        "@id": "http://raml.org/vocabularies/data#product"
                                      }
                                    ],
                                    "http://raml.org/vocabularies/shapes#range": [
                                      {
                                        "@id": "types/Service.raml/type/property/product/scalar/product",
                                        "@type": [
                                          "http://raml.org/vocabularies/shapes#ScalarShape",
                                          "http://www.w3.org/ns/shacl#Shape",
                                          "http://raml.org/vocabularies/shapes#Shape",
                                          "http://raml.org/vocabularies/document#DomainElement"
                                        ],
                                        "http://www.w3.org/ns/shacl#datatype": [
                                          {
                                            "@id": "http://www.w3.org/2001/XMLSchema#string"
                                          }
                                        ],
                                        "http://www.w3.org/ns/shacl#name": [
                                          {
                                            "@value": "product"
                                          }
                                        ]
                                      }
                                    ],
                                    "http://www.w3.org/ns/shacl#minCount": [
                                      {
                                        "@value": 1
                                      }
                                    ],
                                    "http://www.w3.org/ns/shacl#name": [
                                      {
                                        "@value": "product"
                                      }
                                    ]
                                  },
                                  {
                                    "@id": "types/Service.raml/type/property/component",
                                    "@type": [
                                      "http://www.w3.org/ns/shacl#PropertyShape",
                                      "http://www.w3.org/ns/shacl#Shape",
                                      "http://raml.org/vocabularies/shapes#Shape"
                                    ],
                                    "http://www.w3.org/ns/shacl#path": [
                                      {
                                        "@id": "http://raml.org/vocabularies/data#component"
                                      }
                                    ],
                                    "http://raml.org/vocabularies/shapes#range": [
                                      {
                                        "@id": "types/Service.raml/type/property/component/scalar/component",
                                        "@type": [
                                          "http://raml.org/vocabularies/shapes#ScalarShape",
                                          "http://www.w3.org/ns/shacl#Shape",
                                          "http://raml.org/vocabularies/shapes#Shape",
                                          "http://raml.org/vocabularies/document#DomainElement"
                                        ],
                                        "http://www.w3.org/ns/shacl#datatype": [
                                          {
                                            "@id": "http://www.w3.org/2001/XMLSchema#string"
                                          }
                                        ],
                                        "http://www.w3.org/ns/shacl#name": [
                                          {
                                            "@value": "component"
                                          }
                                        ]
                                      }
                                    ],
                                    "http://www.w3.org/ns/shacl#minCount": [
                                      {
                                        "@value": 1
                                      }
                                    ],
                                    "http://www.w3.org/ns/shacl#name": [
                                      {
                                        "@value": "component"
                                      }
                                    ]
                                  }
                                ],
                                "http://www.w3.org/ns/shacl#name": [
                                  {
                                    "@value": "Service"
                                  }
                                ]
                              }
                            ]
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            }
          }
        }
      }
    },
    "/assets/{groupId}/{assetId}/{version}/api/root": {
      "x-amf-displayName": "Root File",
      "description": "Root file for the API",
      "parameters": [
        {
          "name": "groupId",
          "description": "groupId of the asset",
          "required": true,
          "in": "path",
          "schema": {
            "description": "groupId of the asset",
            "type": "string"
          }
        },
        {
          "name": "assetId",
          "description": "assetId of the asset",
          "required": true,
          "in": "path",
          "schema": {
            "description": "assetId of the asset",
            "type": "string"
          }
        },
        {
          "name": "version",
          "description": "version of the asset",
          "required": true,
          "in": "path",
          "schema": {
            "description": "version of the asset",
            "example": "2.22.45",
            "type": "string",
            "pattern": "^v{0,1}(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$"
          }
        }
      ],
      "get": {
        "description": "Redirects to path of root file for this API",
        "responses": {
          "301": {
            "description": "Redirection to root file if available."
          }
        }
      }
    },
    "/assets/{groupId}/{assetId}/{version}/api/{+filePath}": {
      "x-amf-displayName": "File Path",
      "description": "API file path",
      "parameters": [
        {
          "name": "groupId",
          "description": "groupId of the asset",
          "required": true,
          "in": "path",
          "schema": {
            "description": "groupId of the asset",
            "type": "string"
          }
        },
        {
          "name": "assetId",
          "description": "assetId of the asset",
          "required": true,
          "in": "path",
          "schema": {
            "description": "assetId of the asset",
            "type": "string"
          }
        },
        {
          "name": "version",
          "description": "version of the asset",
          "required": true,
          "in": "path",
          "schema": {
            "description": "version of the asset",
            "example": "2.22.45",
            "type": "string",
            "pattern": "^v{0,1}(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$"
          }
        },
        {
          "name": "+filePath",
          "description": "The path of the API file",
          "required": true,
          "in": "path",
          "schema": {
            "description": "The path of the API file",
            "type": "string"
          }
        }
      ],
      "get": {
        "description": "Gets the API file content",
        "responses": {
          "200": {
            "description": "Retrieved file contents for the specified file.\n- For example, if api.raml was specified the response will be that raml.\n"
          }
        }
      }
    },
    "/assets/{groupId}/{assetId}/{version}/domain": {
      "x-amf-displayName": "Domain",
      "description": "Allowed domain for the asset",
      "x-amf-type": "domain",
      "parameters": [
        {
          "name": "groupId",
          "description": "groupId of the asset",
          "required": true,
          "in": "path",
          "schema": {
            "description": "groupId of the asset",
            "type": "string"
          }
        },
        {
          "name": "assetId",
          "description": "assetId of the asset",
          "required": true,
          "in": "path",
          "schema": {
            "description": "assetId of the asset",
            "type": "string"
          }
        },
        {
          "name": "version",
          "description": "version of the asset",
          "required": true,
          "in": "path",
          "schema": {
            "description": "version of the asset",
            "example": "2.22.45",
            "type": "string",
            "pattern": "^v{0,1}(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?$"
          }
        }
      ]
    },
[...]
